openapi: 3.0.0
info:
  title: Listing REST APIs
  version: '1.0'
  description: Using this api requires active Listing Builder
servers:
  - url: 'https://prod.apigateway.co/products/listings'
    description: Production
  - url: 'https://demo.apigateway.co/products/listings'
    description: Demo
  - url: '{local}/products/listings'
    description: Local
  - url: 'http://localhost:11001/products/listings'
    description: Localhost
tags:
  - name: Listing Sync Listings
  - name: Listing Scores
  - name: Listing Profiles
  - name: Options
paths:
  /listingSyncListings:
    get:
      tags:
        - Listing Sync Listings
      summary: List Listing Sync Listings
      operationId: list-listingSyncListings
      security:
        - OAuth2Demo:
            - listing
        - OAuth2Prod:
            - listing
      x-lifecycle:
        status: proposed
      description: |-
        [Status](https://developers.vendasta.com/platform/ZG9jOjEwMTU2NTYy-versioning): `Proposed`
        Gets a list of listings for a business location. This corresponds to the Listing Sync page in Listing Builder.
      parameters:
        - schema:
            type: string
            example: Bearer <Access Token>
            pattern: ^Bearer\s\S+
          in: header
          name: Authorization
          description: A Bearer access token to identify the user the app is acting on behalf of. See the Authorization guide for details.
          required: true
        - schema:
            type: string
          in: query
          name: 'filter[businessLocation.id]'
          description: Return listings for the specified business location
          required: true
        - schema:
            type: string
          in: query
          name: 'page[cursor]'
          description: 'The cursor stores all your filters and current location in the list to allow paging over the results in smaller batches. The value will be provided in the response links. [Pagination Docs](https://developers.vendasta.com/platform/ZG9jOjEwMTkzMDg0-overview#paging).'
        - schema:
            type: string
          in: query
          name: 'page[limit]'
          description: 'For now we only support a value of 200. [Pagination Docs](https://developers.vendasta.com/platform/ZG9jOjEwMTkzMDg0-overview#paging).'
      responses:
        '200':
          description: OK
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/listingSyncListings'
                  links:
                    type: object
                    properties:
                      self:
                        type: string
                        format: uri
                      first:
                        type: string
                        description: Provides a link back to the first page of results
                        format: uri
                      next:
                        type: string
                        description: The URI at which the next batch of reviews can be gotten from
                        format: uri
    options:
      operationId: options-listingSyncListings
      summary: List valid HTTP verbs for /listingSyncListings
      description: 'Used solely for [CORS](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) the OPTIONS request returns the list of possible HTTP methods and other headers that browsers use to protect user''s security. You should not call this operation directly. '
      responses:
        '204':
          description: No Content
        '403':
          description: User Cannot Access Business Location
        '404':
          description: Business Not Found
        '406':
          description: No Listing Product Active
      tags:
        - Options
        - Listing Sync Listings
    parameters: []
  '/listingScores/{id}':
    get:
      summary: Get Listing Score
      tags:
        - Listing Scores
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/listingScores'
      operationId: get-listingScores
      description: |-
        [Status](https://developers.vendasta.com/platform/ZG9jOjEwMTU2NTYy-versioning): `Proposed`
        Get the listing score information for a specific business
      x-lifecycle:
        status: proposed
      security:
        - OAuth2Demo:
            - listing
        - OAuth2Prod:
            - listing
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: A Bearer access token to identify the user the app is acting on behalf of. See the Authorization guide for details.
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    options:
      summary: List valid HTTP verbs for /listingScores
      operationId: options-listingScores-id
      responses:
        '200':
          description: OK
      description: 'Used solely for [CORS](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) the OPTIONS request returns the list of possible HTTP methods and other headers that browsers use to protect user''s security. You should not call this operation directly.'
      tags:
        - Options
        - Listing Scores
  /listingprofiles:
    get:
      summary: List Listing Profiles
      operationId: get-listingprofiles
      responses:
        '200':
          description: OK
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/listingprofiles'
                  links:
                    type: object
                    properties:
                      self:
                        type: string
                        format: uri
                      first:
                        type: string
                        description: Provides a link back to the first page of results
                        format: uri
                      next:
                        type: string
                        description: The URI at which the next batch of listing profiles can be gotten from
                        format: uri
      description: |-
        [Status](https://developers.vendasta.com/platform/ZG9jOjEwMTU2NTYy-versioning): `Trusted Tester`

        Produces a list of listing profiles
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: A Bearer access token to identify the user the app is acting on behalf of. See the Authorization guide for details.
          required: true
        - schema:
            type: string
          in: query
          name: 'filter[businessPartner.id]'
          description: Return listing profiles for the specified partner
          required: true
        - schema:
            type: string
          in: query
          description: 'The cursor stores all your filters and current location in the list to allow paging over the results in smaller batches. The value will be provided in the response links. [Pagination Docs](https://developers.vendasta.com/platform/ZG9jOjEwMTkzMDg0-overview#paging).'
          name: 'page[cursor]'
        - schema:
            type: string
            maxLength: 25
            default: '25'
            minLength: 1
          in: query
          description: 'The maximum number of tasks you would like returned in a single batch. Use the links.next member in the response to get the remainder. [Pagination Docs](https://developers.vendasta.com/platform/ZG9jOjEwMTkzMDg0-overview#paging).'
          name: 'page[limit]'
        - schema:
            type: string
            enum:
              - createdAt
              - '-createdAt'
              - name
              - '-name'
              - updatedAt
              - '-updatedAt'
            default: '-updatedAt'
          in: query
          name: sort
          description: Sort busines location based on selected option. Defaulted to -updatedAt (Desc updatedAt)
      security:
        - OAuth2Demo:
            - listing
            - 'listing:read'
        - OAuth2Prod:
            - listing
            - 'listing:read'
      tags:
        - Listing Profiles
      x-lifecycle:
        status: trustedTester
    patch:
        summary: Update Listing Profile
        operationId: patch-listingprofiles-id
        tags:
          - Listing Profiles
        description: |-
          [Status](https://developers.vendasta.com/platform/ZG9jOjEwMTU2NTYy-versioning): `Trusted Tester`

          Update the existing listing profile.
          Only the root ID and type fields are required. All others are optional and will keep their original value if omitted.
        x-lifecycle:
          status: trustedTester
        parameters:
          - schema:
              type: string
              example: Bearer <Access Token>
              pattern: ^Bearer\s\S+
            in: header
            name: Authorization
            description: A Bearer access token to identify the user the app is acting on behalf of. See the Authorization guide for details.
            required: true
          - schema:
              type: string
              default: application/vnd.api+json
              enum:
                - application/vnd.api+json
            in: header
            name: Content-Type
            required: true
            description: Indicates the format of the request body being sent. In most cases you will want `application/vnd.api+json`
        security:
          - OAuth2Demo:
              - listing
          - OAuth2Prod:
              - listing
        responses:
          '200':
            description: Ok
            content:
              application/vnd.api+json:
                schema:
                  type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/listingprofiles'
                    links:
                      type: object
                      properties:
                        self:
                          type: string
                          format: uri
                          description: The address of the updated listing profile
            headers: { }
        requestBody:
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/listingprofiles'