# IDEs and editors
**/.idea/**
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
/.vim

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.DS_Store

# Docusaurus
docusaurus/node_modules/
docusaurus/build/
docusaurus/.docusaurus/
docusaurus/docs/api/
node_modules/
