swagger: "2.0"
info:
  title: citations/v1/citations.proto
  version: version not set
tags:
  - name: CitationService
consumes:
  - application/json
produces:
  - application/json
paths:
  /citations.CitationService/GetByRange:
    post:
      operationId: CitationService_GetByRange
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/citationsRangeCitationsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/citationsRangeCitationsRequest'
      tags:
        - CitationService
definitions:
  citationsCitation:
    type: object
    properties:
      accountId:
        type: string
      url:
        type: string
      title:
        type: string
      created:
        type: string
        format: date-time
  citationsRangeCitationsRequest:
    type: object
    properties:
      accountId:
        type: string
      startTime:
        type: string
        format: date-time
      endTime:
        type: string
        format: date-time
  citationsRangeCitationsResponse:
    type: object
    properties:
      citations:
        type: array
        items:
          type: object
          $ref: '#/definitions/citationsCitation'
  protobufAny:
    type: object
    properties:
      '@type':
        type: string
    additionalProperties: {}
  rpcStatus:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      details:
        type: array
        items:
          type: object
          $ref: '#/definitions/protobufAny'
