openapi: 3.0.0
info:
  title: Platform REST APIs
  version: Evergreen
servers:
  - url: 'https://prod.apigateway.co/platform'
    description: Production
  - description: Demo
    url: 'https://demo.apigateway.co/platform'
  - description: Local
    url: '{local}/platform'
  - url: 'https://vendasta.stoplight.io/mocks/vendasta/openapi-specs/1808816'
    description: Mock
  - url: 'http://localhost:11001/platform'
    description: Localhost
paths:
  /accountContacts:
    post:
      summary: Create Account Contact
      operationId: post-accountContacts
      responses:
        '201':
          description: Created
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/accountContacts'
                  links:
                    type: object
                    properties:
                      self:
                        type: string
                        format: uri
                        description: The address of the newly created account contact
          headers:
            Location:
              schema:
                type: string
                format: uri
              description: The address of the newly created account contact
      x-lifecycle:
        status: "proposed"
      description: |-
        [Status](https://vendasta.stoplight.io/docs/openapi-specs/docs/1.-Overview/Versioning.md): `Proposed`

        Use this operation to create a new Contact for an account.

        At least one of `name.first`, `name.last`, `phone.raw` or `email` must be provided when creating a contact.
      security:
        - OAuth:
            - sales.contact
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/accountContacts'
      parameters:
        - schema:
            type: string
            enum:
              - name.first
              - name.last
              - name.greeting
              - phone
              - email
              - owner
              - locations
              - languageCode
          in: query
          name: 'fields[accountContact]'
          description: A comma seperated list of fields from the newly created record to be returned in the response.
        - schema:
            type: string
            example: Bearer <Access Token>
            pattern: ^Bearer\s\S+
          in: header
          name: Authorization
          description: A Bearer access token to identify the user the app is acting on behalf of. See the Authorization guide for details.
          required: true
        - schema:
            type: string
            default: application/vnd.api+json
            enum:
              - application/vnd.api+json
          in: header
          name: Content-Type
          required: true
          description: Indicates the format of the request body being sent. In most cases you will want `application/vnd.api+json`
      tags:
        - accountContacts
    options:
      operationId: options-accountContacts
      tags:
        - options
        - accountContacts
      summary: List valid HTTP verbs for /accountContacts
      description: 'Used solely for [CORS](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) the OPTIONS request returns the list of possible HTTP methods and other headers that browsers use to protect user''s security. You should not call this operation directly. '
      responses:
        '204':
          description: No Content
  '/accountContacts/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: The ID of the contact to be returned
    get:
      summary: Get Account Contact
      tags:
        - accountContacts
      responses:
        '200':
          description: OK
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/accountContacts'
                  links:
                    type: object
                    properties:
                      self:
                        type: string
      operationId: get-accountContacts-id
      security:
        - OAuth:
            - sales.contact
      x-lifecycle:
        status: "proposed"
      description: |-
        [Status](https://vendasta.stoplight.io/docs/openapi-specs/docs/1.-Overview/Versioning.md): `Proposed`
        
        Fetch the current values for the specified account contact
      parameters:
        - schema:
            type: string
            enum:
              - name.first
              - name.last
              - name.greeting
              - phone
              - email
              - owner
              - locations
              - languageCode
          in: query
          name: 'fields[accountContact]'
          description: A comma seperated list of fields from the newly created record to be returned in the response.
        - schema:
            type: string
            example: Bearer <Access Token>
            pattern: ^Bearer\s\S+
          in: header
          name: Authorization
          description: A Bearer access token to identify the user the app is acting on behalf of. See the Authorization guide for details.
          required: true
    options:
      operationId: options-accountContacts-id
      summary: 'List valid HTTP verbs for /accountContacts/{id}'
      description: 'Used solely for [CORS](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) the OPTIONS request returns the list of possible HTTP methods and other headers that browsers use to protect user''s security. You should not call this operation directly. '
      responses:
        '204':
          description: No Content
      tags:
        - options
        - accountContacts
  '/accountContacts/{contactID}/locations':
    parameters:
      - schema:
          type: string
        name: contactID
        in: path
        required: true
    get:
      summary: List Locations related to Contact
      tags:
        - accountContacts
      responses:
        '200':
          description: OK
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/accountLocations'
      operationId: get-accountContacts-contactID-locations
      x-lifecycle:
        status: "proposed"
      description: |-
        [Status](https://vendasta.stoplight.io/docs/openapi-specs/docs/1.-Overview/Versioning.md): `Proposed`
        
        Returns a list of locations that are related to the contact
      security:
        - OAuth:
            - sales.contact
      parameters:
        - schema:
            type: string
            example: Bearer <Access Token>
            pattern: ^Bearer\s\S+
          in: header
          name: Authorization
          description: A Bearer access token to identify the user the app is acting on behalf of. See the Authorization guide for details.
          required: true
    options:
      operationId: options-accountContacts-contactID-locations
      tags:
        - accountContacts
      summary: List valid HTTP verbs
      description: 'Used solely for [CORS](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) the OPTIONS request returns the list of possible HTTP methods and other headers that browsers use to protect user''s security. You should not call this operation directly. '
      responses:
        '204':
          description: No Content
  '/accountContacts/{contactID}/relationships/locations':
    parameters:
      - schema:
          type: string
        name: contactID
        in: path
        required: true
    get:
      summary: List Location IDs related to Contact
      operationId: get-accountContacts-contactID-relationships-locations
      responses:
        '200':
          description: OK
          content:
            application/vnd.api+json:
              schema:
                description: ''
                type: object
                properties:
                  data:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                            - accountLocations
                          default: accountLocations
                        id:
                          type: string
                          example: AG-123
                      required:
                        - type
                        - id
                  links:
                    type: object
                    required:
                      - related
                      - self
                    properties:
                      related:
                        type: string
                        format: uri
                      self:
                        type: string
                        format: uri
                required:
                  - data
                  - links
      security:
        - OAuth:
            - sales.contact
      x-lifecycle:
        status: "proposed"
      description: |-
        [Status](https://vendasta.stoplight.io/docs/openapi-specs/docs/1.-Overview/Versioning.md): `Proposed`
        
        Lists the IDs of the Account Locations that are related to this Account Contact
      tags:
        - accountContacts
      parameters:
        - schema:
            type: string
            example: Bearer <Access Token>
            pattern: ^Bearer\s\S+
          in: header
          name: Authorization
          description: A Bearer access token to identify the user the app is acting on behalf of. See the Authorization guide for details.
          required: true
    post:
      summary: Add locations to contact
      operationId: post-accountContacts-contactID-relationships-locations
      responses:
        '200':
          description: OK
      x-lifecycle:
        status: "proposed"
      description: |-
        [Status](https://vendasta.stoplight.io/docs/openapi-specs/docs/1.-Overview/Versioning.md): `Proposed`
        
        Adds the listed account locations to the specified account contact. Locations that are already linked will be ignored. 
      security:
        - OAuth:
            - sales.contact
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              description: ''
              type: object
              properties:
                data:
                  type: array
                  uniqueItems: true
                  minItems: 1
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - accountLocations
                      id:
                        type: string
                        example: AG-123
                    required:
                      - type
                      - id
              required:
                - data
      tags:
        - accountContacts
      parameters:
        - schema:
            type: string
            example: Bearer <Access Token>
            pattern: ^Bearer\s\S+
          in: header
          name: Authorization
          description: A Bearer access token to identify the user the app is acting on behalf of. See the Authorization guide for details.
          required: true
        - schema:
            type: string
            default: application/vnd.api+json
            enum:
              - application/vnd.api+json
          in: header
          name: Content-Type
          required: true
          description: Indicates the format of the request body being sent. In most cases you will want `application/vnd.api+json`
    patch:
      summary: Set Locations for Contact
      operationId: patch-accountContacts-contactID-relationships-locations
      responses:
        '200':
          description: OK
      x-lifecycle:
        status: "proposed"
      description: |-
        [Status](https://vendasta.stoplight.io/docs/openapi-specs/docs/1.-Overview/Versioning.md): `Proposed`
        
        Replaces all existing locations for the contact with the new list.

        Note: This can be completed as a single action with updating the contact's other attributes.
      tags:
        - accountContacts
      security:
        - OAuth:
            - sales.contact
      parameters:
        - schema:
            type: string
            example: Bearer <Access Token>
            pattern: ^Bearer\s\S+
          in: header
          name: Authorization
          description: A Bearer access token to identify the user the app is acting on behalf of. See the Authorization guide for details.
          required: true
        - schema:
            type: string
            default: application/vnd.api+json
            enum:
              - application/vnd.api+json
          in: header
          name: Content-Type
          required: true
          description: Indicates the format of the request body being sent. In most cases you will want `application/vnd.api+json`
    delete:
      summary: Remove locations from contact
      operationId: delete-accountContacts-contactID-relationships-locations
      responses:
        '204':
          description: No Content
      x-lifecycle:
        status: "proposed"
      description: |-
        [Status](https://vendasta.stoplight.io/docs/openapi-specs/docs/1.-Overview/Versioning.md): `Proposed`
        
        Removes the specified location(s) from the contact. Locations that have already been removed will be ignored.
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              description: ''
              type: object
              properties:
                data:
                  type: array
                  uniqueItems: true
                  minItems: 1
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - accountLocations
                      id:
                        type: string
                        example: AG-123
                    required:
                      - type
                      - id
              required:
                - data
      tags:
        - accountContacts
      security:
        - OAuth:
            - sales.contact
      parameters:
        - schema:
            type: string
            example: Bearer <Access Token>
            pattern: ^Bearer\s\S+
          in: header
          name: Authorization
          description: A Bearer access token to identify the user the app is acting on behalf of. See the Authorization guide for details.
          required: true
        - schema:
            type: string
            default: application/vnd.api+json
            enum:
              - application/vnd.api+json
          in: header
          name: Content-Type
          required: true
          description: Indicates the format of the request body being sent. In most cases you will want `application/vnd.api+json`
    options:
      operationId: options-accountContacts-contactID-relationships-locations
      summary: 'List valid HTTP verbs for /accountContacts/{contactID}/relationships/locations'
      description: 'Used solely for [CORS](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) the OPTIONS request returns the list of possible HTTP methods and other headers that browsers use to protect user''s security. You should not call this operation directly. '
      responses:
        '204':
          description: No Content
      tags:
        - options
        - accountContacts
  /accountLocations:
    post:
      summary: Create Account Location
      operationId: post-accountLocations
      responses:
        '201':
          description: Created
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/accountLocations'
                  links:
                    type: object
                    properties:
                      self:
                        type: string
                        format: uri
                        description: The address of the newly created account location
          headers:
            Location:
              schema:
                type: string
                format: uri
              description: The address of the newly created account contact
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/accountLocations'
      x-lifecycle:
        status: "proposed"
      description: |-
        [Status](https://vendasta.stoplight.io/docs/openapi-specs/docs/1.-Overview/Versioning.md): `Proposed`
        
        Used to record basic data for a new location.

        The following members must be populated during creation:
        - `relationships.owner.data.id`
        - `attributes.name`
        - `attributes.address.countryCode` as well as other address fields based on the norms of the country.
        - `relationships.categories.data.[].id` - At least one category must be provided
      parameters:
        - schema:
            type: string
            example: Bearer <Access Token>
            pattern: ^Bearer\s\S+
          in: header
          name: Authorization
          description: A Bearer access token to identify the user the app is acting on behalf of. See the Authorization guide for details.
          required: true
        - schema:
            type: string
            enum:
              - name
              - address.line1
              - address.line2
              - address.city
              - address.zip
              - address.stateCode
              - address.countryCode
              - phoneNumbers
              - owner
          in: query
          name: 'fields[accountLocations]'
          description: A comma seperated list of fields from the newly created record to be returned in the response.
        - schema:
            type: string
            default: application/vnd.api+json
            enum:
              - application/vnd.api+json
          in: header
          name: Content-Type
          required: true
          description: Indicates the format of the request body being sent. In most cases you will want `application/vnd.api+json`
      security:
        - OAuth:
            - account
      tags:
        - accountLocations
    options:
      operationId: options-accountLocations
      summary: List valid HTTP verbs for /accountLocations
      description: 'Used solely for [CORS](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) the OPTIONS request returns the list of possible HTTP methods and other headers that browsers use to protect user''s security. You should not call this operation directly. '
      responses:
        '204':
          description: No Content
      tags:
        - options
        - accountLocations
  '/accountLocations/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: Get Account Location
      tags:
        - accountLocations
      responses:
        '200':
          description: OK
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/accountLocations'
                  links:
                    type: object
                    properties:
                      self:
                        type: string
      operationId: get-accountLocations-id
      x-lifecycle:
        status: "proposed"
      description: |-
        [Status](https://vendasta.stoplight.io/docs/openapi-specs/docs/1.-Overview/Versioning.md): `Proposed`
        
        Returns basic data about the account location.
      parameters:
        - schema:
            type: string
            enum:
              - name
              - address.line1
              - address.line2
              - address.city
              - address.zip
              - address.stateCode
              - address.countryCode
              - phoneNumbers
              - owner
          in: query
          name: 'fields[accountLocations]'
          description: A comma seperated list of fields from the newly created record to be returned in the response.
        - schema:
            type: string
            example: Bearer <Access Token>
            pattern: ^Bearer\s\S+
          in: header
          name: Authorization
          description: A Bearer access token to identify the user the app is acting on behalf of. See the Authorization guide for details.
          required: true
      security:
        - OAuth:
            - account
    options:
      operationId: options-accountLocations-id
      summary: 'List valid HTTP verbs for /accountLocations/{id}'
      description: 'Used solely for [CORS](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) the OPTIONS request returns the list of possible HTTP methods and other headers that browsers use to protect user''s security. You should not call this operation directly. '
      responses:
        '204':
          description: No Content
      tags:
        - options
        - accountLocations
  '/partners/{id}':
    parameters:
      - schema:
          type: string
          minLength: 2
          maxLength: 4
          pattern: '^[A-Z]{2,4}$'
          example: ABC
        name: id
        in: path
        required: true
    get:
      summary: Get Partner
      tags:
        - partners
      responses:
        '200':
          description: OK
          content:
            application/vnd.json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/partners'
                  links:
                    type: object
                    properties:
                      self:
                        type: string
                        format: uri
                  included:
                    type: array
                    items:
                      anyOf:
                        - $ref: '#/components/schemas/partners'
      operationId: get-partners-id
      security:
        - OAuth:
            - partner
      x-lifecycle:
        status: "proposed"
      description: |-
        [Status](https://vendasta.stoplight.io/docs/openapi-specs/docs/1.-Overview/Versioning.md): `Proposed`
        
        Fetch the current values for the specified partner
      parameters:
        - schema:
            type: string
            enum:
              - name
          in: query
          name: 'fields[partners]'
          description: A comma separated list of fields to be returned in the response.
        - schema:
            type: string
            example: Bearer <Access Token>
            pattern: ^Bearer\s\S+
          in: header
          name: Authorization
          description: A Bearer access token to identify the user the app is acting on behalf of. See the Authorization guide for details.
          required: true
        - schema:
            type: string
            enum:
              - parent
          in: query
          name: include
          description: A comma separated list of related records that should be embedded in the response
    options:
      operationId: options-partners-id
      summary: 'List valid HTTP verbs for /partners/{id}'
      description: 'Used solely for [CORS](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) the OPTIONS request returns the list of possible HTTP methods and other headers that browsers use to protect user''s security. You should not call this operation directly. '
      responses:
        '204':
          description: No Content
      tags:
        - options
        - partners
components:
  securitySchemes:
    JWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
    OAuth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: 'https://sso-api-demo.apigateway.co/oauth2/auth'
          tokenUrl: 'https://sso-api-demo.apigateway.co/oauth2/token'
          scopes:
            sales.contact: Read-write access to sales contact details
            account: Read-write access to account details
            partner: Read-write access to details about your partners
  schemas:
    accountLocations:
      title: Account Location
      type: object
      x-lifecycle:
        status: "proposed"
      description: |-
        [Status](https://vendasta.stoplight.io/docs/openapi-specs/docs/1.-Overview/Versioning.md): `Proposed`
        
        Any entity that works with a provider company (two-way communication). These generally have a sustained relationship with the provider company. This may include a potential buyer, an existing client, or a past client that has churned.
      properties:
        id:
          type: string
          example: AG-1234567
        type:
          type: string
          default: accountLocations
          enum:
            - accountLocations
        attributes:
          type: object
          properties:
            name:
              type: string
              description: The common name for this location
            address:
              type: object
              properties:
                line1:
                  type: string
                line2:
                  type: string
                city:
                  type: string
                stateCode:
                  type: string
                  maxLength: 2
                  minLength: 2
                  example: CA
                  description: The two letter state code within the country
                zip:
                  type: string
                countryCode:
                  type: string
                  maxLength: 2
                  minLength: 2
                  example: CA
                  description: 'The two letter country code defined by ISO 3166-1 https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes'
            phoneNumbers:
              type: array
              items:
                type: object
                properties:
                  countryCode:
                    type: string
                    description: An optional 2 character country code used to aid in parcing the raw number. If not specified the value from address.countryCode will be assumed.
                    maxLength: 2
                    minLength: 2
                  raw:
                    type: string
                    description: |-
                      The complete phone number for the location.
                      Formating characters may be included. 

                      **Extentions**

                      It is recommended that extentions are included at the end of the number after an appropriate seperator: Pause: `,` Wait: `;` Default: `ext.`

                      You may test the parsibility of a number using https://phonenumbers.temba.io/
                required:
                  - raw
            serviceAreaBusiness:
              type: boolean
              description: When true the address will be used as the center of the area that this location services instead of being displayed.
        relationships:
          type: object
          properties:
            owner:
              type: object
              description: A link to the organization that owns this record. Account Locations are typically owned by a partner.
              properties:
                data:
                  type: object
                  required:
                    - type
                    - id
                  properties:
                    type:
                      type: string
                      default: organizations
                      enum:
                        - organizations
                    id:
                      type: string
                      example: ABC
              required:
                - data
      x-tags:
        - accountLocations
    accountContacts:
      title: Account Contact
      type: object
      x-lifecycle:
        status: "proposed"
      description: |-
        [Status](https://vendasta.stoplight.io/docs/openapi-specs/docs/1.-Overview/Versioning.md): `Proposed`
        
        An account contact is a person who works for the account that your sales, fulfillment, billing and support teams may send communications to reguarding the account.

        At least one of `name.first`, `name.last`, `phone.raw` or `email` must be provided when creating a contact.
      properties:
        type:
          type: string
          default: accountContacts
          example: accountContacts
          enum:
            - accountContacts
        id:
          type: string
          description: The id will be assigned by the server and must be included on all update requests. Values sent during creation will be ignored.
        attributes:
          type: object
          properties:
            name:
              type: object
              properties:
                first:
                  type: string
                  maxLength: 25
                  description: The given name of the contact
                last:
                  type: string
                  maxLength: 25
                  description: The surname of the contact
                greeting:
                  type: string
                  maxLength: 25
                  description: The name to use in email messages. Defaults to first name.
            phone:
              type: object
              description: The primary phone number for the contact
              properties:
                countryCode:
                  type: string
                  description: 'An optional 2 character country code used to aid in parcing the raw number. '
                  maxLength: 2
                  minLength: 2
                raw:
                  type: string
                  description: |-
                    The complete primary phone number for the contact.
                    Formating characters may be included. 

                    **Extentions**

                    It is recommended that extentions are included at the end of the number after an appropriate seperator: Pause: `,` Wait: `;` Default: `ext.`

                    You may test the parsibility of a number using https://phonenumbers.temba.io/
              required:
                - raw
            email:
              type: string
              format: email
              description: The primary email address for the contact
            languageCode:
              type: string
              default: en-US
              enum:
                - en-US
                - cs-CZ
                - fr-FR
                - nl-NL
              description: |-
                The local language that communications to this contact should be sent in. 
                Note: We currently have a limited set of allowed languages but expect to support many more in the future.
        relationships:
          type: object
          properties:
            owner:
              type: object
              description: A link to the organization that owns this record. Account Contacts are typically owned by a partner.
              properties:
                data:
                  type: object
                  required:
                    - type
                    - id
                  properties:
                    type:
                      type: string
                      default: organizations
                      enum:
                        - organizations
                    id:
                      type: string
                      example: ABC
              required:
                - data
            locations:
              type: object
              description: The account locations that this contact has a connection to
              properties:
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        example: AG-1234
                      type:
                        type: string
                        default: accountLocations
                        enum:
                          - accountLocations
                    required:
                      - id
                      - type
                links:
                  type: object
                  description: Readonly
                  properties:
                    self:
                      type: string
                      format: uri
                      example: 'https://prod.apigateway.co/platform/accountContacts/U-123/relationships/locations'
                    next:
                      type: string
                      format: uri
                      example: 'https://prod.apigateway.co/platform/accountContacts/U-123/relationships/locations?page[cursor]=567'
                meta:
                  type: object
                  properties:
                    total:
                      type: integer
                      description: 'Readonly: The total number of locations connected to this contact'
      required:
        - type
      x-tags:
        - accountContacts
    partners:
      title: partners
      type: object
      x-lifecycle:
        status: "proposed"
      description: |-
        [Status](https://vendasta.stoplight.io/docs/openapi-specs/docs/1.-Overview/Versioning.md): `Proposed`
        
        A partner is an organization that has a store filled with products that other organizations can purchase.
      properties:
        id:
          type: string
          minLength: 3
          maxLength: 4
        type:
          type: string
          enum:
            - partners
        attributes:
          type: object
          properties:
            name:
              type: string
              description: The public name for the organization
          required:
            - name
        relationships:
          type: object
          properties:
            parent:
              type: object
              description: 'The parent partner is the partner that this partner primarily purchases stuff from. '
              properties:
                data:
                  type: object
                  required:
                    - id
                    - type
                  properties:
                    id:
                      type: string
                      minLength: 3
                      maxLength: 4
                    type:
                      type: string
                      enum:
                        - partners
              required:
                - data
      required:
        - id
        - type
      x-tags:
        - partners
      x-examples:
        example-1:
          id: ABC
          type: partners
          attributes:
            name: Mountain Media
          relationships:
            parent:
              data:
                id: VMF
                type: partners
tags:
  - name: accountContacts
  - name: accountLocations
  - name: options
  - name: partners
