<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navigation Bar</title>

</head>
<body>
    <!-- include the following script tag before the closing body tag to render the navigation bar in your app -->
    <script th:fragment="navbar-script" src="//www.cdnstyles.com/static/product_navbar/v1/product_navbar.js"
    th:data-url="${product_navbar_data_url}"
    th:data-account-id="${account_id}"
    th:data-app-id="${app_id}">
</script>

</body>
</html>