{
  "openapi": "3.1.0",
  "x-stoplight": {
    "id": "iyzxipdhj3szx"
  },
  "info": {
    "title": "CRM Rest APIs",
    "version": "1.0",
    "summary": ""
  },
  "servers": [
    {
      "url": "https://prod.apigateway.co/org",
      "description": "Production"
    },
    {
      "url": "https://demo.apigateway.co/org",
      "description": "Demo"
    },
    {
      "url": "http://localhost:11001/org",
      "description": "Local"
    },
    {
      "url": "{local}/org",
      "description": "Local"
    }
  ],
  "paths": {
    "/{namespace}/{resourceTypeCode}/meta/fields": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "namespace",
          "in": "path",
          "required": true,
          "description": "The namespace, PID/AGID"
        },
        {
          "name": "resourceTypeCode",
          "in": "path",
          "required": true,
          "description": "The resourceTypeCode, here contacts, companies or activities.",
          "schema": {
            "type": "string",
            "enum": [
              "activities",
              "companies",
              "contacts",
              "callActivities",
              "communicationActivities",
              "emailActivities",
              "meetingActivities",
              "noteActivities",
              "opportunityChangeActivities",
              "recordChangeActivities",
              "taskActivities"
            ]
          }
        }
      ],
      "get": {
        "summary": "Get field schema",
        "tags": [
          "Resource Operations"
        ],
        "responses": {
          "200": {
            "description": "This API follows [Open API schema](https://spec.openapis.org/oas/v3.1.0#schema-object) of structure for response.",
            "content": {
              "application/json": {
                "examples": {
                  "contacts Resource": {
                    "value": {
                      "type": "object",
                      "title": "CRM FieldSchema of Contact",
                      "description": "CRM Field Schema of resourceType Contact.",
                      "properties": {
                        "system__id": {
                          "type": "string",
                          "description": "The globaly unique id for this contact record"
                        },
                        "standard__first_name": {
                          "type": "string",
                          "title": "First Name",
                          "description": "The given name of the contact"
                        },
                        "standard__last_name": {
                          "type": "string",
                          "maxLength": 50
                        },
                        "system__created_at": {
                          "type": "string",
                          "format": "date-time",
                          "readOnly": true
                        },
                        "standard__email": {
                          "type": "string",
                          "format": "email"
                        },
                        "platform__contact_additional_salesperson_ids": {
                          "description": "Identifiers for additional salespeople in the platform.",
                          "items": {
                            "type": "string"
                          },
                          "title": "Additional Salesperson IDs",
                          "type": "array"
                        },
                        "platform__contact_salesperson_id": {
                          "description": "Identifier for a salesperson in the platform.",

                          "title": "Salesperson ID",
                          "type": "string"
                        },
                        "platform__ssc_contact_id": {
                          "description": "Identifies the SSC contact, which may be associated with zero or more account groups.",
                          "items": {
                            "type": "string"
                          },
                          "readOnly": true,
                          "title": "Platform SSC contact IDs",
                          "type": "array"
                        },
                        "platform__user_id": {
                          "description": "Identifier for contact's underlying IAM user.",

                          "readOnly": true,
                          "title": "Platform user ID",
                          "type": "string"
                        },
                        "standard__contact_birth_year": {
                          "description": "Contact's birth year. E.g. '1980'",

                          "title": "Birth Year",
                          "type": "string"
                        },
                        "standard__contact_company_name": {
                          "description": "Name of the contact's company. This may be set independently from the name property on the contact's associated company.",

                          "title": "Company name",
                          "type": "string"
                        },
                        "standard__contact_company_website": {
                          "description": "Name of the contact's company website. This may be set independently from the name property on the contact's associated company.",

                          "title": "Company website",
                          "type": "string"
                        },
                        "standard__contact_gender": {
                          "description": "Gender of the contact. E.g. 'male', 'female', 'other'",

                          "title": "Gender",
                          "type": "string"
                        },
                        "standard__contact_interests": {
                          "description": "Contact's interests. E.g. 'Hiking', 'Skiing', 'Cooking', 'Paintball'",
                          "items": {
                            "type": "string"
                          },
                          "title": "Interests",
                          "type": "array"
                        },
                        "standard__contact_job_title": {
                          "description": "Job title of the contact.",

                          "title": "Job title",
                          "type": "string"
                        },
                        "standard__contact_lifecycle_stage": {
                          "description": "Lifecycle stage of the contact. E.g. 'Lead'",

                          "title": "Lifecycle stage",
                          "type": "string"
                        },
                        "standard__contact_linkedin_url": {
                          "description": "URL of the contact's LinkedIn profile.",

                          "title": "LinkedIn URL",
                          "type": "string"
                        },
                        "standard__contact_mobile_phone_number": {
                          "description": "Mobile phone number of the contact.",

                          "title": "Mobile phone number",
                          "type": "string"
                        },
                        "standard__contact_next_task_due_date": {
                          "description": "Date indicating when the next task of the contact is due for completion",
                          "format": "date-time",
                          "title": "Next task due date",
                          "type": "string"
                        },
                        "standard__contact_next_task_id": {
                          "description": "ID of the next task of the contact",

                          "title": "Next task ID",
                          "type": "string"
                        },
                        "standard__contact_primary_company_id": {
                          "description": "The primary company associated with the contact.",

                          "readOnly": true,
                          "title": "Primary Company",
                          "type": "string"
                        },
                        "standard__contact_primary_location_city_locality": {
                          "description": "City or locality of the contact's primary location.",

                          "title": "City/locality",
                          "type": "string"
                        },
                        "standard__contact_primary_location_country": {
                          "description": "Country of the contact's primary location.",

                          "title": "Country",
                          "type": "string"
                        },
                        "standard__contact_primary_location_state_province_region": {
                          "description": "State, province, or region of the contact's primary location.",

                          "title": "State/province/region",
                          "type": "string"
                        },
                        "standard__contact_primary_location_street_address_1": {
                          "description": "Street address line 1 of the contact's primary location.",

                          "title": "Street address line 1",
                          "type": "string"
                        },
                        "standard__contact_primary_location_street_address_2": {
                          "description": "Street address line 2 of the contact's primary location.",

                          "title": "Street address line 2",
                          "type": "string"
                        },
                        "standard__contact_primary_location_zip_postal_code": {
                          "description": "Zip or postal code of the contact's primary location.",

                          "title": "Zip/postal code",
                          "type": "string"
                        },
                        "standard__contact_role": {
                          "description": "Role of the contact.",

                          "title": "Role",
                          "type": "string"
                        },
                        "standard__contact_seniority": {
                          "description": "Seniority of the contact.",

                          "title": "Seniority",
                          "type": "string"
                        },
                        "standard__contact_skills": {
                          "description": "Contact's skills. E.g. 'Java', 'Python', 'Javascript'",
                          "items": {
                            "type": "string"
                          },
                          "title": "Skills",
                          "type": "array"
                        },
                        "standard__contact_source_name": {
                          "description": "Name of the app or external system that created the contact. E.g. 'Salesforce', 'Hubspot', 'Gmail'",

                          "title": "Source name",
                          "type": "string"
                        },
                        "standard__contact_timezone": {
                          "description": "Timezone of the contact. This is a string representing the timezone like 'America/New_York'. ",

                          "title": "Timezone",
                          "type": "string"
                        },
                        "standard__phone_number": {

                          "title": "Phone number",
                          "type": "string"
                        },
                        "standard__tags": {
                          "description": "Descriptive keywords that help you find and segment contacts.",

                          "title": "Tags",
                          "type": "string"
                        },
                        "system__contact_created": {
                          "description": "When the record was created",
                          "format": "date",
                          "readOnly": true,
                          "title": "Created date",
                          "type": "string"
                        },
                        "system__contact_external_id": {
                          "description": "External identifier for the record, optional",

                          "readOnly": true,
                          "title": "External ID",
                          "type": "string"
                        },
                        "system__contact_group_id": {
                          "description": "Group ID for the record, optional. Used for grouping records together, and authorization where users are restricted to selected groups.",

                          "readOnly": true,
                          "title": "Group ID",
                          "type": "string"
                        },
                        "system__contact_id": {
                          "description": "unique identifier for the record",

                          "readOnly": true,
                          "title": "ID",
                          "type": "string"
                        },
                        "system__contact_last_activity_date": {
                          "description": "Date and time of last activity",
                          "format": "date-time",
                          "title": "Last activity date",
                          "type": "string"
                        },
                        "system__contact_owner_id": {
                          "description": "Owner ID for the record.",

                          "readOnly": true,
                          "title": "Owner ID",
                          "type": "string"
                        },
                        "system__contact_updated": {
                          "description": "When the record was last updated",
                          "format": "date",
                          "readOnly": true,
                          "title": "Updated date",
                          "type": "string"
                        },
                        "yesware__contact_enrichment_vendor_id": {
                          "description": "The ID of the enrichment vendor in Yesware. If the contact has not been enriched, this field will be unset.",

                          "title": "Yesware enrichment vendor ID",
                          "type": "string"
                        },
                        "yesware__contact_id": {
                          "description": "The ID of the contact in Yesware.",

                          "title": "Yesware contact ID",
                          "type": "string"
                        },
                        "yesware__contact_last_enrichment_date": {
                          "description": "The date of the last enrichment in Yesware. If the contact has not been enriched, this field will be unset.",
                          "format": "date-time",
                          "title": "Yesware last enrichment date",
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "User Not Found"
          }
        },
        "operationId": "ListFieldSchema",
        "description": "[Status](https://developers.vendasta.com/platform/ZG9jOjEwMTU2NTYy-versioning): `Proposed`\n\nRetrieve field schema based on namespace.",
        "x-lifecycle": {
          "status": "proposed"
        }
      }
    },
    "/{namespace}/{resourceTypeCode}/meta/fields/{fieldId}/options": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "namespace",
          "in": "path",
          "required": true,
          "description": "The namespace, PID/AGID"
        },
        {
          "name": "resourceTypeCode",
          "in": "path",
          "required": true,
          "description": "The resourceTypeCode, here contacts, companies or activities.",
          "schema": {
            "type": "string",
            "enum": [
              "activities",
              "companies",
              "contacts",
              "callActivities",
              "communicationActivities",
              "emailActivities",
              "meetingActivities",
              "noteActivities",
              "opportunityChangeActivities",
              "recordChangeActivities",
              "taskActivities"
            ]
          }
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "fieldId",
          "in": "path",
          "required": true,
          "description": "Unique identifier for field"
        }
      ],
      "get": {
        "summary": "Get field options",
        "tags": [
          "Resource Operations"
        ],
        "responses": {
          "200": {
            "description": "The list of valid options for the field. This can be used to create a dropdown list for your users. ",
            "content": {
              "application/json": {
                "examples": {
                  "Get field options": {
                    "value": {
                      "options": [
                        {
                          "value": "Option 1",
                          "name": "Option 1"
                        },
                        {
                          "value": "Option 2",
                          "name": "Option 2"
                        },
                        {
                          "value": "Option 3",
                          "name": "Option 3"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "options": {
                      "type": "array",
                      "x-stoplight": {
                        "id": "jwikc0afwakmo"
                      },
                      "items": {
                        "x-stoplight": {
                          "id": "1jmcjoeuy5wm9"
                        },
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "x-stoplight": {
                              "id": "6hk1kskoxz8sj"
                            },
                            "description": "The text to be displayed to users. Note this might be translated."
                          },
                          "value": {
                            "type": "string",
                            "x-stoplight": {
                              "id": "qdy9hr51rggn0"
                            },
                            "description": "The value to be saved in the database"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "operationId": "GetFieldOptions",
        "description": "[Status](https://developers.vendasta.com/platform/ZG9jOjEwMTU2NTYy-versioning): `Proposed`\n\nRetrieve the field options based on the given fieldId.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "filter",
            "description": "Filtering is an OPTIONAL parameter. It filters field option based on given filter value."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "paging",
            "description": "Pagination to retrieve a specific page of results"
          }
        ],
        "x-lifecycle": {
          "status": "proposed"
        }
      }
    },
    "/{namespace}/{resourceTypeCode}": {
      "patch": {
        "summary": "Upsert CRM Record",
        "operationId": "UpsertCrmRecord",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "namespace",
            "in": "path",
            "required": true,
            "description": "The namespace, PID/AGID"
          },
          {
            "name": "resourceTypeCode",
            "in": "path",
            "required": true,
            "description": "The resourceTypeCode, here contacts, companies or activities.",
            "schema": {
              "type": "string",
              "enum": [
                "activities",
                "companies",
                "contacts",
                "callActivities",
                "communicationActivities",
                "emailActivities",
                "meetingActivities",
                "noteActivities",
                "opportunityChangeActivities",
                "recordChangeActivities",
                "taskActivities"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "x-examples": {
                  "Example 1": {
                    "subtype": "",
                    "fields": [
                      {
                        "id": "externalId",
                        "value": "example-first-name",
                        "operation": "always_overwrite"
                      },
                      {
                        "id": "externalId",
                        "value": "example-last-name",
                        "operation": "always_overwrite"
                      },
                      {
                        "id": "externalId",
                        "value": "crm@example.com",
                        "operation": "always_overwrite"
                      }
                    ],
                    "searchExisting": [
                      "standard__email"
                    ],
                    "returnFields": [
                      "standard__email",
                      "standard__first_name"
                    ]
                  }
                },
                "oneOf": [
                  {
                    "description": "V1",
                    "title": "Body V1",
                    "properties": {
                      "subtype": {
                        "type": "string"
                      },
                      "fields": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string"
                            },
                            "operation": {
                              "type": "string",
                              "description": "The supported operation types are `always_overwrite`, `overwrite_if_empty`, `overwrite_if_newer` & `combine`."
                            }
                          }
                        }
                      },
                      "searchExisting": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "returnFields": {
                        "type": "array",
                        "description": "A list of fields that should have their merged values returned in the response. If empty no fields will be returned.",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  {
                    "x-stoplight": {
                      "id": "40hjq3h4hwo2a"
                    },
                    "description": "V2",
                    "title": "Body V2",
                    "properties": {
                      "data": {
                        "$ref": "#/components/schemas/CRMObject",
                        "x-stoplight": {
                          "id": "fd8bicknxqstx"
                        }
                      },
                      "searchExisting": {
                        "type": "array",
                        "x-stoplight": {
                          "id": "cljd7ngnz4sj9"
                        },
                        "items": {
                          "x-stoplight": {
                            "id": "2mp0l0b686d6t"
                          },
                          "type": "string"
                        }
                      },
                      "returnFields": {
                        "type": "array",
                        "x-stoplight": {
                          "id": "y0c8br6d066lg"
                        },
                        "items": {
                          "x-stoplight": {
                            "id": "awbzvw8b72sq3"
                          },
                          "type": "string"
                        }
                      }
                    }
                  }
                ],
                "type": "object"
              },
              "examples": {
                "Request body": {
                  "value": {
                    "subtype": "",
                    "fields": [
                      {
                        "id": "standard__first_name",
                        "value": "example-first-name",
                        "operation": "always_overwrite"
                      },
                      {
                        "id": "standard__last_name",
                        "value": "example-last-name",
                        "operation": "always_overwrite"
                      },
                      {
                        "id": "standard__email",
                        "value": "crm@example.com",
                        "operation": "always_overwrite"
                      }
                    ],
                    "searchExisting": [
                      "standard__email"
                    ],
                    "returnFields": [
                      "standard__email",
                      "standard__first_name"
                    ]
                  }
                }
              }
            },
            "application/xml": {
              "schema": {
                "type": "object",
                "properties": {
                  "subtype": {
                    "type": "string"
                  },
                  "fields": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "value": {
                          "type": "string"
                        },
                        "operation": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "search_existing": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "return_fields": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "examples": {
                "Example": {
                  "value": "{\"subtype\": \"\",\n\"fields\": [\n{\n\"Id\": \"externalId\",\n\"value\": \"example-first-name\",\n\"Operation\": \"always_overwrite\"\n},\n{\n\"Id\": \"externalId\",\n\"value\": \"example-last-name\",\n\"Operation\": \"always_overwrite\"\n},\n{\n\"Id\": \"externalId\",\n\"value\": \"crm@example.com\",\n\"Operation\": \"always_overwrite\"\n}\n],\n\"search_existing\": [\n\"standard__email\"\n],\n\"return_fields\": [\n\"standard__email\",\n\"standard__first_name\"\n]\n}"
                }
              }
            }
          },
          "description": ""
        },
        "responses": {
          "200": {
            "description": "This API follows [Open API schema](https://spec.openapis.org/oas/v3.1.0#schema-object) of structure for response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "Response Body": {
                    "value": {
                      "fields": [
                        {
                          "id": "standard__first_name",
                          "value": "Bob"
                        },
                        {
                          "id": "standard__email",
                          "value": "crm@example.com"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "tags": [
          "Resource Operations"
        ],
        "x-stoplight": {
          "id": "1de3f0654bc17"
        },
        "x-lifecycle": {
          "status": "Trusted Tester"
        },
        "description": "[Status](https://developers.vendasta.com/platform/ZG9jOjEwMTU2NTYy-versioning): \n\nv1: `Trusted Tester`\n\nv2: `Proposed`\n\n**v1 Description:**\n\nCreate/update CRM contacts, companies or activities records.\n\nDefault rules will be used to match existing records. You may specificy your own fields that contain unique values in `searchExisting`.\n\nIf a match is found the records will be merged using the always_overwrite, overwrite_if_empty, overwrite_if_newer & combine stratagy"
      },
      "post": {
        "summary": "Create CRM Record",
        "operationId": "CreateCrmRecord",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "namespace",
            "in": "path",
            "required": true,
            "description": "The namespace, PID/AGID"
          },
          {
            "name": "resourceTypeCode",
            "in": "path",
            "required": true,
            "description": "The resourceTypeCode, here contacts, companies or activities.",
            "schema": {
              "type": "string",
              "enum": [
                "activities",
                "companies",
                "contacts",
                "callActivities",
                "communicationActivities",
                "emailActivities",
                "meetingActivities",
                "noteActivities",
                "opportunityChangeActivities",
                "recordChangeActivities",
                "taskActivities"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "tags": [
          "Resource Operations"
        ],
        "x-stoplight": {
          "id": "j1bhs5sbm6rw4"
        },
        "description": "[Status](https://developers.vendasta.com/platform/ZG9jOjEwMTU2NTYy-versioning): `Proposed`\n\nCreate a new CRM record. \nTip: Use Upsert CRM Record to automatically check for existing records to merge the provided data into."
      }
    },
    "/{namespace}/{resourceTypeCode}/{id}": {
      "get": {
        "summary": "Get CRM Record",
        "operationId": "GetCrmRecord",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "namespace",
            "in": "path",
            "required": true,
            "description": "The account or partner ID"
          },
          {
            "name": "resourceTypeCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "activities",
                "callActivities",
                "communicationActivities",
                "companies",
                "contacts",
                "emailActivities",
                "meetingActivities",
                "noteActivities",
                "opportunityChangeActivities",
                "recordChangeActivities",
                "taskActivities"
              ]
            },
            "description": "The type of object being worked on"
          },
          {
            "schema": {
              "type": "string"
            },
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "attributes": {
                      "$ref": "#/components/schemas/CRMObject"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Resource Operations"
        ],
        "description": "[Status](https://developers.vendasta.com/platform/ZG9jOjEwMTU2NTYy-versioning): `Proposed`"
      },
      "delete": {
        "summary": "Delete CRM Record",
        "operationId": "DeleteCrmRecord",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "namespace",
            "in": "path",
            "required": true,
            "description": "The account or partner ID"
          },
          {
            "name": "resourceTypeCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "activities",
                "callActivities",
                "communicationActivities",
                "companies",
                "contacts",
                "emailActivities",
                "meetingActivities",
                "noteActivities",
                "opportunityChangeActivities",
                "recordChangeActivities",
                "taskActivities"
              ]
            },
            "description": "The type of object being worked on"
          },
          {
            "schema": {
              "type": "string"
            },
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "tags": [
          "Resource Operations"
        ],
        "description": "[Status](https://developers.vendasta.com/platform/ZG9jOjEwMTU2NTYy-versioning): `Proposed`"
      },
      "patch": {
        "summary": "Update CRM Record",
        "operationId": "UpdateCrmRecord",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "namespace",
            "in": "path",
            "required": true,
            "description": "The account or partner ID"
          },
          {
            "name": "resourceTypeCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "activities",
                "callActivities",
                "communicationActivities",
                "companies",
                "contacts",
                "emailActivities",
                "meetingActivities",
                "noteActivities",
                "opportunityChangeActivities",
                "recordChangeActivities",
                "taskActivities"
              ]
            },
            "description": "The type of object being worked on"
          },
          {
            "schema": {
              "type": "string"
            },
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/CRMObject"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful",
            "content": {}
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "tags": [
          "Resource Operations"
        ],
        "description": "[Status](https://developers.vendasta.com/platform/ZG9jOjEwMTU2NTYy-versioning): `Proposed`"
      }
    },

    "/list/{namespace}/{resourceTypeCode}": {
      "post": {
        "operationId": "ListCrmRecords",
        "summary": "List CRM Records",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "namespace",
            "in": "path",
            "required": true,
            "description": "The namespace, PID/AGID"
          },
          {
            "schema": {
              "type": "string"
            },
            "name": "resourceTypeCode",
            "in": "path",
            "required": true,
            "description": "The resourceTypeCode, here contacts, companies or activities."
          }
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "subtype": {
                    "type": "string"
                  },
                  "fields": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "value": {
                          "description": "For date and time use a string in the RFC 3339 format",
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "boolean"
                            },
                            {
                              "type": "integer"
                            },
                            {
                              "type": "number"
                            },
                            {"type":  "array",
                              "items": {
                                "oneOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "boolean"
                                  },
                                  {
                                    "type": "integer"
                                  },
                                  {
                                    "type": "number"
                                  }
                                ]
                              }
                            }
                          ]
                        },
                        "operation": {
                          "type": "string",
                          "nullable": true,
                          "description": "The list will filter the results based on the operation applied over the field regarding the value. \n\nOperations available depend on the type of field : \n\n**string**: [  \"IS\",  \"IS_NOT\",  \"IS_EMPTY\",  \"IS_NOT_EMPTY\",  \"IS_ANY\",  \"IS_NOT_ANY\"] \n\n**string_list**: [  \"IS_EMPTY\",  \"IS_NOT_EMPTY\",  \"IS_ANY\",  \"IS_NOT_ANY\",  \"IS_ALL\",  \"IS_NOT_ALL\"] \n\n**boolean**: [  \"IS\",  \"IS_EMPTY\",  \"IS_NOT_EMPTY\"] \n\n**date**: [  \"IS\",  \"IS_NOT\",  \"IS_EMPTY\",  \"IS_NOT_EMPTY\",  \"IS_BEFORE\",  \"IS_BEFORE_OR_ON\",  \"IS_AFTER\",  \"IS_AFTER_OR_ON\",  \"IS_BETWEEN\",  \"IS_NOT_BETWEEN\"] \n\n**integer**: [  \"IS_EQUAL_TO\",  \"IS_NOT_EQUAL_TO\",  \"IS_EMPTY\",  \"IS_NOT_EMPTY\",  \"IS_GREATER_THAN\",  \"IS_GREATER_THAN_OR_EQUAL_TO\",  \"IS_LESS_THAN\",  \"IS_LESS_THAN_OR_EQUAL_TO\",  \"IS_BETWEEN\",  \"IS_NOT_BETWEEN\"] \n\n**phone** [  \"IS\",  \"IS_NOT\",  \"IS_EMPTY\",  \"IS_NOT_EMPTY\",  \"IS_VALID\",  \"IS_NOT_VALID\"] \n\n**tag** [  \"IS_EMPTY\",  \"IS_NOT_EMPTY\",  \"IS_ANY\",  \"IS_NOT_ANY\",  \"IS_ALL\",  \"IS_NOT_ALL\"] \n\nDefault: **\"IS\"**",
                          "enum": [
                            "IS",
                            "IS_NOT",
                            "IS_EMPTY",
                            "IS_NOT_EMPTY",
                            "IS_ANY",
                            "IS_NOT_ANY",
                            "IS_ALL",
                            "IS_NOT_ALL",
                            "CONTAINS",
                            "DOES_NOT_CONTAIN",
                            "IS_EQUAL_TO",
                            "IS_NOT_EQUAL_TO",
                            "IS_GREATER_THAN",
                            "IS_GREATER_THAN_OR_EQUAL_TO",
                            "IS_LESS_THAN",
                            "IS_LESS_THAN_OR_EQUAL_TO",
                            "IS_BEFORE",
                            "IS_BEFORE_OR_ON",
                            "IS_AFTER",
                            "IS_AFTER_OR_ON",
                            "IS_BETWEEN",
                            "IS_NOT_BETWEEN"
                          ]
                        }
                      }
                    }
                  },
                  "returnFields": {
                    "type": "array",
                    "description": "A list of fields that should have their values returned in the response. If empty all fields will be returned.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "page": {
                    "type": "object",
                    "description": "Parameters for pagination of results",
                    "properties": {
                      "cursor": {
                        "type": "string"
                      },
                      "limit": {
                        "type": "integer"
                      }
                    }
                  }
                },
                "x-examples": {
                  "Example 1": {
                    "subtype": "",
                    "fields": [
                      {
                        "id": "externalId",
                        "value": "example-first-name"
                      },
                      {
                        "id": "externalId",
                        "value": "example-last-name"
                      }
                    ],
                    "returnFields": [
                      "standard__email",
                      "standard__first_name"
                    ],
                    "page": {
                      "cursor": "MQ==",
                      "limit": 20
                    }
                  }
                }
              },
              "examples": {
                "Request body": {
                  "value": {
                    "subtype": "",
                    "fields": [
                      {
                        "id": "standard__first_name",
                        "value": "example-first-name"
                      },
                      {
                        "id": "standard__last_name",
                        "value": "example-last-name"
                      }
                    ],
                    "returnFields": [
                      "standard__email",
                      "standard__first_name"
                    ],
                    "page": {
                      "cursor": "",
                      "limit": 20
                    }
                  }
                }
              }
            },
            "application/xml": {
              "schema": {
                "type": "object",
                "properties": {
                  "subtype": {
                    "type": "string"
                  },
                  "fields": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "value": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "return_fields": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "page": {
                    "type": "object",
                    "properties": {
                      "cursor": {
                        "type": "string"
                      },
                      "limit": {
                        "type": "integer"
                      }
                    }
                  }
                }
              },
              "examples": {
                "Example": {
                  "value": "{\"subtype\": \"\",\n\"fields\": [\n{\n\"Id\": \"externalId\",\n\"value\": \"example-first-name\"\n},\n{\n\"Id\": \"externalId\",\n\"value\": \"example-last-name\"\n},\n{\n\"Id\": \"externalId\",\n\"value\": \"crm@example.com\"\n}\n],\n\"return_fields\": [\n\"standard__email\",\n\"standard__first_name\"\n]\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "This API follows [Open API schema](https://spec.openapis.org/oas/v3.1.0#schema-object) of structure for response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "objects": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "fields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "value": {
                                  "oneOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "boolean"
                                    },
                                    {
                                      "type": "integer"
                                    },
                                    {
                                      "type": "number"
                                    },
                                    {
                                      "type": "object",
                                      "description": "Timestamp",
                                      "properties": {
                                        "seconds": { "type": "integer"},
                                        "nanos": { "type": "integer"}
                                      }
                                    },
                                    {"type":  "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    }
                                  ]
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "next_cursor": {
                      "type": "string"
                    },
                    "total_objects": {
                      "type": "integer"
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  }
                },
                "examples": {
                  "Response Body": {
                    "value": {
                      "objects": [
                        {
                          "id": "Contact001",
                          "fields": [
                            {
                              "id": "standard__first_name",
                              "value": "Bob"
                            },
                            {
                              "id": "standard__email",
                              "value": "crm@example.com"
                            }
                          ]
                        }
                      ],
                      "next_cursor": "MQ==",
                      "has_more": true,
                      "total_objects": 1
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "tags": [
          "Resource Operations"
        ],
        "x-lifecycle": {
          "status": "earlyAccess"
        },
        "description": "[Status](https://developers.vendasta.com/platform/ZG9jOjEwMTU2NTYy-versioning): `Early Access`\n\nList CRM contacts, companies or activities records."
      }
    }
  },
  "components": {
    "schemas": {
      "CRMContact": {
        "title": "CRM Contact",
        "type": "object",
        "description": "CRM Contact Field Schema for AG-L56V52BMMW",
        "properties": {
          "standard__email": {
            "format": "email",
            "title": "Email",
            "type": "string"
          },
          "standard__first_name": {
            "title": "First name",
            "type": "string"
          },
          "standard__last_name": {
            "title": "Last name",
            "type": "string"
          },
          "standard__contact_additional_team_members": {
            "description": "Additional team members for contact",
            "items": {
              "type": "string"
            },
            "title": "Contact additional team members",
            "type": "array"
          },
          "standard__contact_birth_year": {
            "description": "Contact's birth year. E.g. '1980'",
            "title": "Birth Year",
            "type": "string"
          },
          "standard__contact_fbclid": {
            "description": "Facebook click ID used to create the contact",
            "readOnly": true,
            "title": "FBCLID",
            "type": "string"
          },
          "standard__contact_gclid": {
            "description": "Google click ID used to create the contact",
            "readOnly": true,
            "title": "GCLID",
            "type": "string"
          },
          "standard__contact_gender": {
            "description": "Gender of the contact. E.g. 'male', 'female', 'other'",
            "title": "Gender",
            "type": "string"
          },
          "standard__contact_interests": {
            "description": "Contact's interests. E.g. 'Hiking', 'Skiing', 'Cooking', 'Paintball'",
            "items": {
              "type": "string"
            },
            "title": "Interests",
            "type": "array"
          },
          "standard__contact_job_title": {
            "description": "Job title of the contact.",
            "title": "Job title",
            "type": "string"
          },
          "standard__contact_last_campaign_email_bounced_date": {
            "description": "Last campaign email bounced for the contact",
            "format": "date",
            "readOnly": true,
            "title": "Last campaign email bounced date",
            "type": "string"
          },
          "standard__contact_last_campaign_email_clicked_date": {
            "description": "Last campaign email clicked date for the contact",
            "format": "date",
            "readOnly": true,
            "title": "Last campaign email clicked date",
            "type": "string"
          },
          "standard__contact_last_campaign_email_open_date": {
            "description": "Last campaign email open date for the contact",
            "format": "date",
            "readOnly": true,
            "title": "Last campaign email open date",
            "type": "string"
          },
          "standard__contact_last_campaign_email_sent_date": {
            "description": "Last campaign email sent for the contact",
            "format": "date",
            "readOnly": true,
            "title": "Last campaign email sent date",
            "type": "string"
          },
          "standard__contact_last_campaign_email_sent_name": {
            "description": "Name of last campaign email sent for the contact",
            "readOnly": true,
            "title": "Last campaign email sent name",
            "type": "string"
          },
          "standard__contact_last_campaign_sms_delivered_date": {
            "description": "Last campaign SMS delivered date for the contact",
            "format": "date-time",
            "readOnly": true,
            "title": "Last campaign SMS delivered date",
            "type": "string"
          },
          "standard__contact_last_campaign_sms_failed_date": {
            "description": "Last campaign SMS failed date for the contact",
            "format": "date-time",
            "readOnly": true,
            "title": "Last campaign SMS failed date",
            "type": "string"
          },
          "standard__contact_last_campaign_sms_sent_date": {
            "description": "Last campaign SMS sent date for the contact",
            "format": "date-time",
            "readOnly": true,
            "title": "Last campaign SMS sent date",
            "type": "string"
          },
          "standard__contact_last_campaign_sms_sent_name": {
            "description": "Name of last campaign SMS sent to the contact",
            "readOnly": true,
            "title": "Last campaign SMS sent name",
            "type": "string"
          },
          "standard__contact_last_campaign_sms_undelivered_date": {
            "description": "Last campaign SMS undelivered date for the contact",
            "format": "date-time",
            "readOnly": true,
            "title": "Last campaign SMS undelivered date",
            "type": "string"
          },
          "standard__contact_last_contact_date": {
            "description": "Date of last contact with the contact",
            "format": "date",
            "readOnly": true,
            "title": "Last contact date",
            "type": "string"
          },
          "standard__contact_last_engagement_date": {
            "description": "Date of last engagement with the contact",
            "format": "date",
            "readOnly": true,
            "title": "Last engagement date",
            "type": "string"
          },
          "standard__contact_last_sales_email_received_date": {
            "description": "Date of last sales email received for the contact",
            "format": "date",
            "readOnly": true,
            "title": "Last sales email received date",
            "type": "string"
          },
          "standard__contact_last_sales_email_sent_date": {
            "description": "Date of last sales email sent for the contact",
            "format": "date",
            "readOnly": true,
            "title": "Last sales email sent date",
            "type": "string"
          },
          "standard__contact_lead_quality": {
            "description": "The calculated lead quality of the contact.",
            "readOnly": true,
            "title": "Lead quality",
            "type": "string"
          },
          "standard__contact_lead_score": {
            "description": "The calculated lead score of the contact.",
            "readOnly": true,
            "title": "Lead score"
          },
          "standard__contact_lifecycle_stage": {
            "description": "Lifecycle stage of the contact. E.g. 'Lead'",
            "title": "Lifecycle stage",
            "type": "string"
          },
          "standard__contact_linkedin_url": {
            "description": "URL of the contact's LinkedIn profile.",
            "title": "LinkedIn URL",
            "type": "string"
          },
          "standard__contact_marketing_email_consent_source": {
            "description": "The source that updated the marketing email consent field.",
            "title": "Marketing email consent source",
            "type": "string"
          },
          "standard__contact_marketing_email_consent_status": {
            "description": "The current status for the contact marketing email consent, i.e: \"Subscribed\", \"Unsubscribed\", or unset.",
            "title": "Marketing email consent",
            "type": "string"
          },
          "standard__contact_marketing_email_consent_timestamp": {
            "description": "The timestamp in which the marketing email consent was updated.",
            "format": "date-time",
            "title": "Marketing email consent timestamp",
            "type": "string"
          },
          "standard__contact_message": {
            "description": "Message sent from Contact. Commonly input by the contact themselves on an intake form.",
            "title": "Message",
            "type": "string"
          },
          "standard__contact_mobile_phone_number": {
            "description": "Additional phone number of the contact.",

            "title": "Additional phone number",
            "type": "string"
          },
          "standard__contact_msclkid": {
            "description": "Microsoft click ID used to create the contact",
            "readOnly": true,
            "title": "MSCLKID",
            "type": "string"
          },
          "standard__contact_next_task_due_date": {
            "description": "Date indicating when the next task of the contact is due for completion",
            "format": "date-time",
            "readOnly": true,
            "title": "Next task due date",
            "type": "string"
          },
          "standard__contact_next_task_id": {
            "description": "ID of the next task of the contact",
            "readOnly": true,
            "title": "Next task ID",
            "type": "string"
          },
          "standard__contact_original_source": {
            "description": "Lead attribution original source",
            "title": "Original source",
            "type": "string"
          },
          "standard__contact_original_source_drill_1": {
            "description": "Lead attribution original source drill down level 1",
            "title": "Original source drill down 1",
            "type": "string"
          },
          "standard__contact_original_source_drill_2": {
            "description": "Lead attribution original source drill down level 2",
            "title": "Original source drill down 2",
            "type": "string"
          },
          "standard__contact_pipeline_id": {
            "description": "The pipeline ID that is associated with the contact.",
            "readOnly": true,
            "title": "Pipeline ID",
            "type": "string"
          },
          "standard__contact_primary_company_id": {
            "description": "The primary company associated with the contact.",
            "readOnly": true,
            "title": "Primary Company",
            "type": "string"
          },
          "standard__contact_primary_location_city_locality": {
            "description": "City or locality of the contact's primary location.",
            "title": "City/locality",
            "type": "string"
          },
          "standard__contact_primary_location_country": {
            "description": "Country of the contact's primary location.",
            "title": "Country",
            "type": "string"
          },
          "standard__contact_primary_location_state_province_region": {
            "description": "State, province, or region of the contact's primary location.",
            "title": "State/province/region",
            "type": "string"
          },
          "standard__contact_primary_location_street_address_1": {
            "description": "Street address line 1 of the contact's primary location.",
            "title": "Street address line 1",
            "type": "string"
          },
          "standard__contact_primary_location_street_address_2": {
            "description": "Street address line 2 of the contact's primary location.",
            "title": "Street address line 2",
            "type": "string"
          },
          "standard__contact_primary_location_zip_postal_code": {
            "description": "Zip or postal code of the contact's primary location.",
            "title": "Zip/postal code",
            "type": "string"
          },
          "standard__contact_role": {
            "description": "Role of the contact.",
            "title": "Role",
            "type": "string"
          },
          "standard__contact_seniority": {
            "description": "Seniority of the contact.",
            "title": "Seniority",
            "type": "string"
          },
          "standard__contact_skills": {
            "description": "Contact's skills. E.g. 'Java', 'Python', 'Javascript'",
            "items": {
              "type": "string"
            },
            "title": "Skills",
            "type": "array"
          },
          "standard__contact_sms_consent_source": {
            "description": "The source that updated the SMS consent field.",
            "title": "SMS consent source",
            "type": "string"
          },
          "standard__contact_sms_consent_status": {
            "description": "The current status for the contact SMS consent, i.e: \"Subscribed\", \"Unsubscribed\", or unset.",
            "title": "SMS consent",
            "type": "string"
          },
          "standard__contact_source_drill_1": {
            "description": "Lead attribution record source drill down level 1",
            "title": "Record source drill down 1",
            "type": "string"
          },
          "standard__contact_source_drill_2": {
            "description": "Lead attribution record source drill down level 2",
            "title": "Record source drill down 2",
            "type": "string"
          },
          "standard__contact_source_name": {
            "description": "Name of the app or external system that created the contact. E.g. 'Salesforce', 'Hubspot', 'Gmail'",
            "title": "Record source",
            "type": "string"
          },
          "standard__contact_timezone": {
            "description": "Timezone of the contact. This is a string representing the timezone like 'America/New_York'. ",
            "title": "Timezone",
            "type": "string"
          },
          "standard__contact_utm_campaign": {
            "description": "The campaign of the UTM parameters for the contact. E.g. 'summer_sale', 'winter_sale', 'spring_sale', 'fall_sale', 'black_friday', 'cyber_monday', 'christmas', 'new_year', 'valentines', 'easter', 'mothers_day', 'fathers_day', 'back_to_school', 'halloween', 'thanksgiving', 'other'",
            "title": "UTM Campaign",
            "type": "string"
          },
          "standard__contact_utm_content": {
            "description": "The content of the UTM parameters for the contact. E.g. 'banner', 'sidebar', 'footer', 'header', 'popup', 'overlay', 'slider', 'carousel', 'video', 'audio', 'image', 'text', 'cta', 'form', 'other'",
            "title": "UTM Content",
            "type": "string"
          },
          "standard__contact_utm_medium": {
            "description": "The medium of the UTM parameters for the contact. E.g. 'cpc', 'email', 'social', 'organic', 'referral', 'affiliate', 'display', 'video', 'audio', 'sms', 'direct', 'other'",
            "title": "UTM Medium",
            "type": "string"
          },
          "standard__contact_utm_source": {
            "description": "The source of the UTM parameters for the contact. E.g. 'google', 'facebook', 'twitter', 'linkedin', 'instagram', 'pinterest', 'youtube', 'tiktok', 'snapchat', 'whatsapp', 'messenger', 'email', 'sms', 'direct', 'other'",
            "title": "UTM Source",
            "type": "string"
          },
          "standard__contact_utm_term": {
            "description": "The term of the UTM parameters for the contact. E.g. 'running+shoes', 'black+friday+sale', 'cyber+monday+sale', 'christmas+gifts', 'new+year+resolutions', 'valentines+gifts', 'easter+sale', 'mothers+day+gifts', 'fathers+day+gifts', 'back+to+school+sale', 'halloween+sale', 'thanksgiving+sale', 'other'",
            "title": "UTM Term",
            "type": "string"
          },
          "standard__phone_number": {

            "title": "Phone number",
            "type": "string"
          },
          "standard__sms_consent_timestamp": {
            "description": "The timestamp in which the SMS consent was updated.",
            "format": "date-time",
            "title": "SMS consent timestamp",
            "type": "string"
          },
          "standard__tags": {
            "description": "Descriptive keywords that help you find and segment contacts.",

            "title": "Tags",
            "type": "string"
          },
          "system__contact_created": {
            "description": "When the record was created",
            "format": "date",
            "readOnly": true,
            "title": "Created date",
            "type": "string"
          },
          "system__contact_external_id": {
            "description": "External identifier for the record, optional",
            "title": "External ID",
            "type": "string"
          },
          "system__contact_group_id": {
            "description": "Market ID for the record, optional. Used for grouping records together, and authorization where users are restricted to selected markets.",
            "title": "Market ID",
            "type": "string"
          },
          "system__contact_id": {
            "description": "unique identifier for the record",
            "readOnly": true,
            "title": "ID",
            "type": "string"
          },
          "system__contact_last_activity_date": {
            "description": "Date and time of last activity",
            "format": "date-time",
            "readOnly": true,
            "title": "Last activity date",
            "type": "string"
          },
          "system__contact_owner_id": {
            "description": "Owner of the record.",
            "title": "Owner",
            "type": "string"
          },
          "system__contact_updated": {
            "description": "When the record was last updated",
            "format": "date",
            "readOnly": true,
            "title": "Updated date",
            "type": "string"
          }
        }
      },
      "CRMActivity": {
        "description": "The CRM Activity Field Schema combines the fields from all of the activity sub types",
        "properties": {
          "standard__activity_call_body": {
            "description": "Description of the call, including any notes that you want to add. Or even a transcript.",
            "title": "Call body",
            "type": "string"
          },
          "standard__activity_call_date": {
            "description": "Date and time the call was made.",
            "format": "date-time",
            "title": "Call date",
            "type": "string"
          },
          "standard__activity_call_direction": {
            "description": "Direction of the call, e.g.: INBOUND, OUTBOUND, etc…",
            "title": "Call direction",
            "type": "string"
          },
          "standard__activity_call_duration": {
            "description": "Duration of the call in milliseconds.",
            "title": "Call duration",
            "type": "number"
          },
          "standard__activity_call_from_number": {

            "title": "Call from number",
            "type": "string"
          },
          "standard__activity_call_outcome": {
            "description": "Outcome of the call, e.g.: BUSY, CONNECTED, LEFT_LIVE_MESSAGE, LEFT_VOICE_MESSAGE, NO_ANSWER, WRONG_NUMBER, etc…",
            "title": "Call outcome",
            "type": "string"
          },
          "standard__activity_call_recording_url": {
            "description": "URL to audio recording.",
            "title": "Call recording URL",
            "type": "string"
          },
          "standard__activity_call_status": {
            "description": "Technical status of the call, e.g.: SCHEDULED, BUSY, CALLING, CANCELLED, FAILED, IN_PROGRESS, NO_ANSWER, etc…",
            "title": "Call status",
            "type": "string"
          },
          "standard__activity_call_to_number": {

            "title": "Call to number",
            "type": "string"
          },
          "standard__activity_call_transcript": {
            "description": "Transcript of the call",
            "title": "Call Transcript",
            "type": "string"
          },
          "standard__activity_campaign_id": {
            "description": "An optional ID for the campaign that the email is associated with",
            "title": "Campaign ID",
            "type": "string"
          },
          "standard__activity_communication_body": {
            "description": "Text of the body.",
            "title": "Communication body",
            "type": "string"
          },
          "standard__activity_communication_channel": {
            "description": "Communication channels different than email, or a call, e.g.: SMS, VENDASTA_INBOX, WHATS_APP, LINKEDIN_MESSAGE, etc…",
            "title": "Communication channel",
            "type": "string"
          },
          "standard__activity_communication_date": {
            "description": "Date and time the activity was made.",
            "format": "date-time",
            "title": "Communication date",
            "type": "string"
          },
          "standard__activity_communication_direction": {
            "description": "Direction of the communication activity, e.g.: INBOUND, OUTBOUND, etc…",
            "title": "Communication direction",
            "type": "string"
          },
          "standard__activity_communication_from_id": {
            "description": "If the communication channel has an ID used for sending and receiving it can be recorded here.",
            "title": "Communication from ID",
            "type": "string"
          },
          "standard__activity_communication_outcome": {
            "description": "Outcome of the communication, e.g.: SCHEDULED, COMPLETED, RESCHEDULED, NO_SHOW, CANCELLED",
            "title": "Communication outcome",
            "type": "string"
          },
          "standard__activity_communication_status": {
            "description": "status of the communication, e.g.: DELIVERED, PROCESSED, BOUNCED",
            "title": "Communication status",
            "type": "string"
          },
          "standard__activity_communication_to_id": {
            "description": "If the communication channel has an ID used for sending and receiving it can be recorded here.",
            "title": "Communication to ID",
            "type": "string"
          },
          "standard__activity_communication_type": {
            "description": "Type of the communication, e.g: General, Campaign, Reputation review request",
            "title": "Communication type",
            "type": "string"
          },
          "standard__activity_email_body": {
            "description": "Text or HTML body of the email",
            "title": "Email body",
            "type": "string"
          },
          "standard__activity_email_date": {
            "description": "Date and time the email was sent.",
            "format": "date-time",
            "title": "Email date",
            "type": "string"
          },
          "standard__activity_email_direction": {
            "description": "The direction the email is going from/to, e.g.: SENT, INCOMING, FORWARDED, etc…",
            "title": "Email direction",
            "type": "string"
          },
          "standard__activity_email_headers": {
            "description": "JSON string of email headers.",
            "title": "Email headers",
            "type": "string"
          },
          "standard__activity_email_id": {
            "description": "The ID is a consistent ID for an email across multiple status activities",
            "title": "Email ID",
            "type": "string"
          },
          "standard__activity_email_status": {
            "description": "Status for the email delivery, e.g.: BOUNCED, FAILED, SCHEDULED, SENDING, SENT, etc…",
            "title": "Email status",
            "type": "string"
          },
          "standard__activity_email_subject": {
            "description": "Subject line of the logged email.",
            "title": "Email subject",
            "type": "string"
          },
          "standard__activity_email_type": {
            "description": "The email type, e.g.: Marketing, Sales, etc…",
            "title": "Email type",
            "type": "string"
          },
          "standard__activity_manually_logged": {
            "description": "Whether the activity was manually logged",
            "format": "boolean",
            "readOnly": true,
            "title": "Manually logged",
            "type": "boolean"
          },
          "standard__activity_meeting_action_items": {
            "description": "Action items of the meeting",
            "items": {
              "type": "string"
            },
            "title": "Meeting action items",
            "type": "array"
          },
          "standard__activity_meeting_analysis_processed_transcript_id": {
            "description": "Processed transcript ID of the meeting analysis",
            "title": "Meeting transcript ID",
            "type": "string"
          },
          "standard__activity_meeting_body": {
            "description": "Meeting description.",
            "title": "Meeting body",
            "type": "string"
          },
          "standard__activity_meeting_duration": {
            "description": "Duration of the meeting in milliseconds.",
            "title": "Meeting duration",
            "type": "number"
          },
          "standard__activity_meeting_end_time": {
            "format": "date-time",
            "title": "Meeting end time",
            "type": "string"
          },
          "standard__activity_meeting_internal_notes": {
            "description": "Internal notes you take for your team not included in the meeting description.",
            "title": "Meeting internal notes",
            "type": "string"
          },
          "standard__activity_meeting_key_takeaways": {
            "description": "Key takeaways of the meeting",
            "items": {
              "type": "string"
            },
            "title": "Meeting key takeaways",
            "type": "array"
          },
          "standard__activity_meeting_last_analyzed_date": {
            "description": "Last analyzed by AI date of the meeting",
            "format": "date",
            "title": "Meeting last analyzed date",
            "type": "string"
          },
          "standard__activity_meeting_location": {
            "description": "Where the meeting takes place. The value could be a physical address, a conference room, a videoconference link, or a phone number.",

            "title": "Meeting location",
            "type": "string"
          },
          "standard__activity_meeting_outcome": {
            "description": "Outcome of the meeting, e.g.: SCHEDULED, COMPLETED, RESCHEDULED, NO_SHOW, CANCELLED",

            "title": "Meeting outcome",
            "type": "string"
          },
          "standard__activity_meeting_recording_url": {
            "description": "Recording URL of the meeting",

            "title": "Meeting recording URL",
            "type": "string"
          },
          "standard__activity_meeting_sentiment": {
            "description": "Sentiment of the meeting",

            "title": "Meeting sentiment",
            "type": "number"
          },
          "standard__activity_meeting_start_time": {
            "format": "date-time",
            "title": "Meeting start time",
            "type": "string"
          },
          "standard__activity_meeting_status": {
            "description": "Meeting status ex. SCHEDULED, COMPLETED, RESCHEDULED, etc.",

            "title": "Meeting status",
            "type": "string"
          },
          "standard__activity_meeting_summary_body": {
            "description": "Body of the summary of the meeting",

            "title": "Meeting summary body",
            "type": "string"
          },
          "standard__activity_meeting_summary_title": {
            "description": "Title of the summary of the meeting",

            "title": "Meeting summary title",
            "type": "string"
          },
          "standard__activity_meeting_transcript": {
            "description": "Transcript of the meeting",

            "title": "Meeting transcript",
            "type": "string"
          },
          "standard__activity_meeting_transcript_url": {
            "description": "Transcript URL of the meeting",

            "title": "Meeting transcript URL",
            "type": "string"
          },
          "standard__activity_meeting_url": {
            "description": "Link to a calendar, for example Google Calendar, Calendar Hero, etc.",

            "title": "Meeting URL",
            "type": "string"
          },
          "standard__activity_name": {
            "description": "Display name used when showing a summary of the activity.",

            "title": "Name",
            "type": "string"
          },
          "standard__activity_note": {

            "title": "Note",
            "type": "string"
          },
          "standard__activity_note_title": {

            "title": "Note title",
            "type": "string"
          },
          "standard__activity_opportunity_change_id": {
            "description": "The unique identifier for an Opportunity",

            "title": "Opportunity ID",
            "type": "string"
          },
          "standard__activity_opportunity_change_last_edit_salesperson_id": {
            "description": "The ID of the salesperson who last edited the Opportunity",

            "title": "Last edit salesperson ID",
            "type": "string"
          },
          "standard__activity_opportunity_change_lost_reason": {
            "description": "Explanation of why the Opportunity was lost",

            "title": "Lost reason",
            "type": "string"
          },
          "standard__activity_opportunity_change_name": {
            "description": "The name/title of the Opportunity",

            "title": "Opportunity name",
            "type": "string"
          },
          "standard__activity_opportunity_change_notes": {
            "description": "Notes about the Opportunity",

            "title": "Notes",
            "type": "string"
          },
          "standard__activity_opportunity_change_pipeline_stage": {
            "description": "The pipeline status of the Opportunity in the pipeline, (closed-won, closed-lost, open, etc)",

            "title": "Pipeline stage",
            "type": "string"
          },
          "standard__activity_opportunity_change_updated_date": {
            "description": "The date the Opportunity was last updated",
            "format": "date",
            "title": "Updated date",
            "type": "string"
          },
          "standard__activity_record_change_field_ids_list": {
            "items": {
              "type": "string"
            },
            "title": "List of the Field ID's for the fields changed",
            "type": "array"
          },
          "standard__activity_record_change_reference_id": {
            "description": "The ChangeID that references the change",

            "title": "Record change reference ID",
            "type": "string"
          },
          "standard__activity_record_change_type": {
            "description": "The type of change associated with a CRM object record, e.g.: CREATED, CHANGED_TO, etc…",

            "title": "Record change type",
            "type": "string"
          },
          "standard__activity_record_change_user_id": {

            "title": "ID of the person who made the change",
            "type": "string"
          },
          "standard__activity_source_drill_1": {
            "description": "Activity record source drill down 1",

            "title": "Record source drill down 1",
            "type": "string"
          },
          "standard__activity_source_drill_2": {
            "description": "Activity record source drill down 2",

            "title": "Record source drill down 2",
            "type": "string"
          },
          "standard__activity_source_drill_3": {
            "description": "Activity record source drill down 3",

            "title": "Record source drill down 3",
            "type": "string"
          },
          "standard__activity_source_name": {
            "description": "Name of the app or external system that created the activity. E.g. 'Salesforce', 'Hubspot', 'Gmail'",

            "title": "Record source",
            "type": "string"
          },
          "standard__activity_tags": {
            "description": "List of tags useful for segmentation of activities.",
            "title": "Tags",
            "type": "string"
          },
          "standard__activity_task_body": {
            "description": "Notes taken for a task.",

            "title": "Task body",
            "type": "string"
          },
          "standard__activity_task_due_date": {
            "description": "Optional date indicating when the task is due for completion",
            "format": "date-time",
            "title": "Task due date",
            "type": "string"
          },
          "standard__activity_task_is_overdue": {
            "description": "Indicates if the task was not completed before the due date",
            "format": "boolean",
            "readOnly": true,
            "title": "Task is overdue",
            "type": "boolean"
          },
          "standard__activity_task_priority": {
            "description": "Priority for a given task, e.g.: HIGH, MEDIUM, LOW, etc…",

            "title": "Task priority",
            "type": "string"
          },
          "standard__activity_task_status": {
            "description": "Status for a given task, e.g.: COMPLETED, NOT_STARTED, IN_PROGRESS, etc…",

            "title": "Task status",
            "type": "string"
          },
          "standard__activity_task_type": {
            "description": "Type of task to be executed, e.g.: EMAIL, CALL, TODO, etc…",

            "title": "Task type",
            "type": "string"
          },
          "standard__activity_url": {
            "description": "Link to more information about the activity.",

            "title": "URL",
            "type": "string"
          },
          "standard__activity_url_name": {
            "description": "Name of the link to more information about the activity.",

            "title": "URL name",
            "type": "string"
          },
          "system__activity_activity_type": {
            "description": "Type of activity",

            "title": "Activity type",
            "type": "string"
          },
          "system__activity_created": {
            "description": "When the record was created",
            "format": "date",
            "readOnly": true,
            "title": "Created date",
            "type": "string"
          },
          "system__activity_effective": {
            "description": "Relevant date for the type",
            "format": "date-time",
            "title": "Effective date",
            "type": "string"
          },
          "system__activity_external_id": {
            "description": "External identifier for the record, optional",

            "readOnly": true,
            "title": "External ID",
            "type": "string"
          },
          "system__activity_id": {
            "description": "unique identifier for the record",

            "readOnly": true,
            "title": "ID",
            "type": "string"
          },
          "system__activity_owner_id": {
            "description": "Owner of the record.",

            "title": "Owner",
            "type": "string"
          },
          "system__activity_source_id": {
            "description": "ID in the source system",

            "title": "Source ID",
            "type": "string"
          },
          "system__activity_updated": {
            "description": "When the record was last updated",
            "format": "date",
            "readOnly": true,
            "title": "Updated date",
            "type": "string"
          }
        },
        "title": "CRM Activity",
        "type": "object"
      },
      "CRMCallActivity": {
        "description": "CRM Call Field Schema for AG-L56V52BMMW",
        "x-stoplight": {
          "id": "010ed6999a364"
        },
        "properties": {
          "standard__activity_call_body": {
            "description": "Description of the call, including any notes that you want to add. Or even a transcript.",

            "title": "Call body",
            "type": "string"
          },
          "standard__activity_call_date": {
            "description": "Date and time the call was made.",
            "format": "date-time",
            "title": "Call date",
            "type": "string"
          },
          "standard__activity_call_direction": {
            "description": "Direction of the call, e.g.: INBOUND, OUTBOUND, etc…",

            "title": "Call direction",
            "type": "string"
          },
          "standard__activity_call_duration": {
            "description": "Duration of the call in milliseconds.",
            "title": "Call duration",
            "type": "number"
          },
          "standard__activity_call_from_number": {

            "title": "Call from number",
            "type": "string"
          },
          "standard__activity_call_outcome": {
            "description": "Outcome of the call, e.g.: BUSY, CONNECTED, LEFT_LIVE_MESSAGE, LEFT_VOICE_MESSAGE, NO_ANSWER, WRONG_NUMBER, etc…",

            "title": "Call outcome",
            "type": "string"
          },
          "standard__activity_call_recording_url": {
            "description": "URL to audio recording.",

            "title": "Call recording URL",
            "type": "string"
          },
          "standard__activity_call_status": {
            "description": "Technical status of the call, e.g.: SCHEDULED, BUSY, CALLING, CANCELLED, FAILED, IN_PROGRESS, NO_ANSWER, etc…",

            "title": "Call status",
            "type": "string"
          },
          "standard__activity_call_to_number": {

            "title": "Call to number",
            "type": "string"
          },
          "standard__activity_call_transcript": {
            "description": "Transcript of the call",

            "title": "Call Transcript",
            "type": "string"
          },
          "standard__activity_manually_logged": {
            "description": "Whether the activity was manually logged",
            "format": "boolean",
            "readOnly": true,
            "title": "Manually logged",
            "type": "boolean"
          },
          "standard__activity_name": {
            "description": "Display name used when showing a summary of the activity.",

            "title": "Name",
            "type": "string"
          },
          "standard__activity_source_drill_1": {
            "description": "Activity record source drill down 1",

            "title": "Record source drill down 1",
            "type": "string"
          },
          "standard__activity_source_drill_2": {
            "description": "Activity record source drill down 2",

            "title": "Record source drill down 2",
            "type": "string"
          },
          "standard__activity_source_drill_3": {
            "description": "Activity record source drill down 3",

            "title": "Record source drill down 3",
            "type": "string"
          },
          "standard__activity_source_name": {
            "description": "Name of the app or external system that created the activity. E.g. 'Salesforce', 'Hubspot', 'Gmail'",

            "title": "Record source",
            "type": "string"
          },
          "standard__activity_tags": {
            "description": "List of tags useful for segmentation of activities.",
            "title": "Tags",
            "type": "string"
          },
          "standard__activity_url": {
            "description": "Link to more information about the activity.",

            "title": "URL",
            "type": "string"
          },
          "standard__activity_url_name": {
            "description": "Name of the link to more information about the activity.",

            "title": "URL name",
            "type": "string"
          },
          "system__activity_activity_type": {
            "description": "Type of activity",

            "title": "Activity type",
            "type": "string"
          },
          "system__activity_created": {
            "description": "When the record was created",
            "format": "date",
            "readOnly": true,
            "title": "Created date",
            "type": "string"
          },
          "system__activity_effective": {
            "description": "Relevant date for the type",
            "format": "date-time",
            "title": "Effective date",
            "type": "string"
          },
          "system__activity_external_id": {
            "description": "External identifier for the record, optional",

            "readOnly": true,
            "title": "External ID",
            "type": "string"
          },
          "system__activity_id": {
            "description": "unique identifier for the record",

            "readOnly": true,
            "title": "ID",
            "type": "string"
          },
          "system__activity_owner_id": {
            "description": "Owner of the record.",

            "title": "Owner",
            "type": "string"
          },
          "system__activity_source_id": {
            "description": "ID in the source system",

            "title": "Source ID",
            "type": "string"
          },
          "system__activity_updated": {
            "description": "When the record was last updated",
            "format": "date",
            "readOnly": true,
            "title": "Updated date",
            "type": "string"
          }
        },
        "title": "CRM Call",
        "type": "object"
      },
      "CRMCommunicationActivity": {
        "description": "CRM Communication Field Schema for AG-L56V52BMMW",
        "x-stoplight": {
          "id": "6d4b14936d092"
        },
        "properties": {
          "standard__activity_communication_body": {
            "description": "Text of the body.",

            "title": "Communication body",
            "type": "string"
          },
          "standard__activity_communication_channel": {
            "description": "Communication channels different than email, or a call, e.g.: SMS, VENDASTA_INBOX, WHATS_APP, LINKEDIN_MESSAGE, etc…",

            "title": "Communication channel",
            "type": "string"
          },
          "standard__activity_communication_date": {
            "description": "Date and time the activity was made.",
            "format": "date-time",
            "title": "Communication date",
            "type": "string"
          },
          "standard__activity_communication_direction": {
            "description": "Direction of the communication activity, e.g.: INBOUND, OUTBOUND, etc…",

            "title": "Communication direction",
            "type": "string"
          },
          "standard__activity_communication_from_id": {
            "description": "If the communication channel has an ID used for sending and receiving it can be recorded here.",

            "title": "Communication from ID",
            "type": "string"
          },
          "standard__activity_communication_outcome": {
            "description": "Outcome of the communication, e.g.: SCHEDULED, COMPLETED, RESCHEDULED, NO_SHOW, CANCELLED",

            "title": "Communication outcome",
            "type": "string"
          },
          "standard__activity_communication_status": {
            "description": "status of the communication, e.g.: DELIVERED, PROCESSED, BOUNCED",

            "title": "Communication status",
            "type": "string"
          },
          "standard__activity_communication_to_id": {
            "description": "If the communication channel has an ID used for sending and receiving it can be recorded here.",

            "title": "Communication to ID",
            "type": "string"
          },
          "standard__activity_communication_type": {
            "description": "Type of the communication, e.g: General, Campaign, Reputation review request",

            "title": "Communication type",
            "type": "string"
          },
          "standard__activity_manually_logged": {
            "description": "Whether the activity was manually logged",
            "format": "boolean",
            "readOnly": true,
            "title": "Manually logged",
            "type": "boolean"
          },
          "standard__activity_name": {
            "description": "Display name used when showing a summary of the activity.",

            "title": "Name",
            "type": "string"
          },
          "standard__activity_source_drill_1": {
            "description": "Activity record source drill down 1",

            "title": "Record source drill down 1",
            "type": "string"
          },
          "standard__activity_source_drill_2": {
            "description": "Activity record source drill down 2",

            "title": "Record source drill down 2",
            "type": "string"
          },
          "standard__activity_source_drill_3": {
            "description": "Activity record source drill down 3",

            "title": "Record source drill down 3",
            "type": "string"
          },
          "standard__activity_source_name": {
            "description": "Name of the app or external system that created the activity. E.g. 'Salesforce', 'Hubspot', 'Gmail'",

            "title": "Record source",
            "type": "string"
          },
          "standard__activity_tags": {
            "description": "List of tags useful for segmentation of activities.",
            "title": "Tags",
            "type": "string"
          },
          "standard__activity_url": {
            "description": "Link to more information about the activity.",

            "title": "URL",
            "type": "string"
          },
          "standard__activity_url_name": {
            "description": "Name of the link to more information about the activity.",

            "title": "URL name",
            "type": "string"
          },
          "system__activity_activity_type": {
            "description": "Type of activity",

            "title": "Activity type",
            "type": "string"
          },
          "system__activity_created": {
            "description": "When the record was created",
            "format": "date",
            "readOnly": true,
            "title": "Created date",
            "type": "string"
          },
          "system__activity_effective": {
            "description": "Relevant date for the type",
            "format": "date-time",
            "title": "Effective date",
            "type": "string"
          },
          "system__activity_external_id": {
            "description": "External identifier for the record, optional",

            "readOnly": true,
            "title": "External ID",
            "type": "string"
          },
          "system__activity_id": {
            "description": "unique identifier for the record",

            "readOnly": true,
            "title": "ID",
            "type": "string"
          },
          "system__activity_owner_id": {
            "description": "Owner of the record.",

            "title": "Owner",
            "type": "string"
          },
          "system__activity_source_id": {
            "description": "ID in the source system",

            "title": "Source ID",
            "type": "string"
          },
          "system__activity_updated": {
            "description": "When the record was last updated",
            "format": "date",
            "readOnly": true,
            "title": "Updated date",
            "type": "string"
          }
        },
        "title": "CRM Communication",
        "type": "object"
      },
      "CRMCompany": {
        "description": "CRM Company Field Schema for AG-L56V52BMMW",
        "properties": {
          "standard__company_additional_team_members": {
            "description": "Additional team members for company",
            "items": {
              "type": "string"
            },
            "title": "Company additional team members",
            "type": "array"
          },
          "standard__company_average_number_of_reviews_per_month": {
            "description": "Average number of reviews the company receives each month.",
            "readOnly": true,
            "title": "Average number of reviews per month"
          },
          "standard__company_average_review_score": {
            "description": "Average review score of the company.",
            "readOnly": true,
            "title": "Average review score"
          },
          "standard__company_category_ids": {
            "description": "List of business category IDs for the company.",
            "items": {
[...]
