openapi: 3.0.0
info:
  title: Customer Relationship Management
  version: '1.0'
  description: ''
servers:
  - url: 'https://prod.apigateway.co/crm'
    description: Production
  - description: Demo
    url: 'https://demo.apigateway.co/crm'
paths:
  /customers:
    get:
      summary: List Customers
      tags:
        - crm-customer
      responses:
        '200':
          description: OK
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          example: crmCustomers
                        attributes:
                          $ref: '#/components/schemas/CRMCustomer'
                      required:
                        - id
                        - type
              examples: {}
      operationId: crm-list-customers
      parameters:
        - schema:
            type: string
            minLength: 3
            maxLength: 100
          in: query
          name: 'filter[name][~]'
          description: Limit results to customers with a name simular to specified value
        - schema:
            type: string
            minLength: 3
            maxLength: 100
          in: query
          name: 'filter[name][=]'
          description: Limit results to customers with a name exactly matching specified value
      description: ''
components:
  schemas:
    CRMCustomer:
      type: object
      title: CRM Customer
      description: ''
      properties:
        created:
          type: string
          format: date-time
        modified:
          type: string
          format: date-time
        url:
          type: string
        email:
          type: string
        telephone:
          type: string
        name:
          type: string
        timeZone:
          type: string
        categories:
          type: array
          items:
            type: string
        tags:
          type: array
          items:
            type: string
      x-tags:
        - crm-customer
  securitySchemes: {}
tags:
  - name: crm-customer
    description: A customer is an entity that has a billing relationship with a partner.
