{
  "openapi": "3.1.0",
  "x-stoplight": {
    "id": "iyzxipdhj3szx"
  },
  "info": {
    "title": "CRM",
    "version": "1.0",
    "description": ""
  },
  "servers": [
    {
      "url": "https://prod.apigateway.co/org",
      "description": "Production"
    },
    {
      "url": "https://demo.apigateway.co/org",
      "description": "Demo"
    },
    {
      "url": "http://localhost:11001/org",
      "description": "Local"
    },
    {
      "url": "{local}/org",
      "description": "Local"
    }
  ],
  "paths": {
    "/{namespace}/{resourceTypeCode}/meta/fields": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "namespace",
          "in": "path",
          "required": true,
          "description": "The namespace, PID/AGID"
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "resourceTypeCode",
          "in": "path",
          "required": true,
          "description": "The resourceTypeCode, here Contact"
        }
      ],
      "get": {
        "summary": "Get field schema",
        "tags": [],
        "responses": {
          "200": {
            "description": "This API follows [Open API schema](https://spec.openapis.org/oas/v3.1.0#schema-object) of structure for response.",
            "content": {
              "application/json": {
                "examples": {
                  "Get crm field": {
                    "value": {
                      "fields": [
                        {
                          "externalId": "externalId_xxxx",
                          "type": "FIELD_TYPE_xxxx",
                          "title": "Last activity date",
                          "description": "Date and time of last activity"
                        },
                        {
                          "externalId": "externalId_xxxx_xxxx",
                          "type": "FIELD_TYPE_xxxxx",
                          "title": "Mobile phone number",
                          "description": "Mobile phone number of the contact."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User Not Found"
          }
        },
        "operationId": "ListFieldSchema",
        "description": "Retrieve field schema based on namespace."
      }
    },
    "/{namespace}/{resourceTypeCode}/meta/fields/{fieldId}/options": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "namespace",
          "in": "path",
          "required": true,
          "description": "The namespace, PID/AGID"
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "resourceTypeCode",
          "in": "path",
          "required": true,
          "description": "The resourceTypeCode, here Contact"
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "fieldId",
          "in": "path",
          "required": true,
          "description": "Unique identifier for field"
        }
      ],
      "get": {
        "summary": "Get field options",
        "tags": [],
        "responses": {
          "200": {
            "description": "This API follows [Open API schema](https://spec.openapis.org/oas/v3.1.0#schema-object) of structure for response.",
            "content": {
              "application/json": {
                "examples": {
                  "Get field options": {
                    "value": {
                      "options": [
                        {
                          "value": "Option 1",
                          "name": "Option 1"
                        },
                        {
                          "value": "Option 2",
                          "name": "Option 2"
                        },
                        {
                          "value": "Option 3",
                          "name": "Option 3"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "operationId": "GetFieldOptions",
        "description": "Retrieve the field options based on the given fieldId.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "filter",
            "description": "Filtering is an OPTIONAL parameter. It filters field option based on given filter value."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "paging",
            "description": "Pagination to retrieve a specific page of results"
          }
        ]
      }
    },
    "/{namespace}/{resourceTypeCode}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "namespace",
          "in": "path",
          "required": true,
          "description": "The namespace, PID/AGID"
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "resourceTypeCode",
          "in": "path",
          "required": true,
          "description": "The resourceTypeCode, here contacts, companies or activities."
        }
      ],
      "post": {
        "summary": "Upsert CRM Record",
        "operationId": "UpsertCrmRecord",
        "responses": {
          "200": {
            "description": "This API follows [Open API schema](https://spec.openapis.org/oas/v3.1.0#schema-object) of structure for response."
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "description": "Create/update CRM contacts, companies or activities record.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "subtype": {
                    "type": "string"
                  },
                  "fields": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "Id": {
                          "type": "string"
                        },
                        "value": {
                          "type": "string"
                        },
                        "Operation": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "search_existing": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "return_fields": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "examples": {
                "Example": {
                  "value": {
                    "subtype": "email",
                    "fields": [
                      {
                        "Id": "externalId",
                        "value": "example-first-name",
                        "Operation": "always_overwrite"
                      },
                      {
                        "Id": "externalId",
                        "value": "example-last-name",
                        "Operation": "always_overwrite"
                      },
                      {
                        "Id": "externalId",
                        "value": "crm@example.com",
                        "Operation": "always_overwrite"
                      }
                    ],
                    "search_existing": [
                      "standard__email"
                    ],
                    "return_fields": [
                      "standard__email",
                      "standard__first_name"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CRMContact": {
        "title": "CRMContact",
        "x-stoplight": {
          "id": "6h9e46rigjers"
        },
        "type": "object",
        "properties": {
          "system__id": {
            "type": "string",
            "x-stoplight": {
              "id": "mnhwsgr2bicnj"
            },
            "description": "The globaly unique id for this contact record"
          },
          "standard__first_name": {
            "type": "string",
            "title": "First Name",
            "x-apigateway_something": "sdf",
            "x-stoplight": {
              "id": "9lmoctp3t0tpg"
            },
            "description": "The given name of the contact"
          },
          "standard__last_name": {
            "type": "string",
            "x-stoplight": {
              "id": "x5o6daj9xjsst"
            },
            "maxLength": 50
          },
          "system__created_at": {
            "type": "string",
            "x-stoplight": {
              "id": "0vn36nqhrfsq6"
            },
            "format": "date-time",
            "readOnly": true
          },
          "email": {
            "type": "string",
            "x-stoplight": {
              "id": "jd6i5a2zkq40s"
            },
            "format": "email"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "OAuth2Demo": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://sso-api-demo.apigateway.co/oauth2/auth",
            "tokenUrl": "https://sso-api-demo.apigateway.co/oauth2/token",
            "scopes": {
              "customers": "Allows the application to manage the customers for the business location(s) that you manage"
            }
          }
        }
      },
      "OAuth2Prod": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://sso-api-prod.apigateway.co/oauth2/auth",
            "tokenUrl": "https://sso-api-prod.apigateway.co/oauth2/token",
            "refreshUrl": "",
            "scopes": {
              "customers": "Allows the application to manage the customers for the business location(s) that you manage"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "OAuth2Demo": [
        "customers"
      ]
    },
    {
      "OAuth2Prod": [
        "customers"
      ]
    }
  ]
}