openapi: 3.0.0
info:
  title: Customer Relationship Management
  version: '1.0'
  description: Endpoints within the CRM context are designed for your sales and retention employees.
servers:
  - url: 'https://prod.apigateway.co/crm'
    description: Production
  - description: Demo
    url: 'https://demo.apigateway.co/crm'
paths:
  /customers:
    get:
      summary: List Customers
      tags:
        - crm-customer
      responses:
        '200':
          description: OK
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          example: crmCustomers
                          enum:
                            - crmCustomers
                        attributes:
                          $ref: '#/components/schemas/CRMCustomer'
                      required:
                        - id
                        - type
              examples: {}
      operationId: crm-list-customers
      parameters:
        - schema:
            type: string
            minLength: 3
            maxLength: 100
          in: query
          name: 'filter[name][~]'
          description: Limit results to customers with a name simular to specified value
        - schema:
            type: string
            minLength: 3
            maxLength: 100
          in: query
          name: 'filter[name][=]'
          description: Limit results to customers with a name exactly matching specified value
      description: ''
      security:
        - OAuth2: []
        - JWT: []
components:
  schemas:
    CRMCustomer:
      type: object
      title: CRM Customer
      description: ''
      properties:
        created:
          type: string
          format: date-time
        modified:
          type: string
          format: date-time
        url:
          type: string
        email:
          type: string
        telephone:
          type: string
        name:
          type: string
        timeZone:
          type: string
        categories:
          type: array
          items:
            type: string
        tags:
          type: array
          items:
            type: string
      x-tags:
        - crm-customer
  securitySchemes:
    JWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: 'https://sso-api-demo.apigateway.co/oauth2/auth'
          tokenUrl: 'https://sso-api-demo.apigateway.co/oauth2/token'
          scopes:
            terms.write: write terms
            finance.partners.read: read partners
            hr.employees.read: read employees
            hr.teams.read: read teams
            hr.roles.read: read roles
            hr.roles.write: write roles
            crm.customers.read: read customers
            crm.customers.write: write customers
            crm.contacts.read: read contacts
            crm.contacts.write: write contacts
            sales.leads.read: read leads
            sales.opportunities.read: read opportunities
            sales.orders.read: read orders
            product.products.read: read products
            product.packages.read: read packages
tags:
  - name: crm-customer
    description: A customer is an entity that has a billing relationship with a partner.
