{
  "openapi": "3.1.0",
  "x-stoplight": {
    "id": "iyzxipdhj3szx"
  },
  "info": {
    "title": "crmaas",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod.apigateway.co/crm",
      "description": "Production"
    },
    {
      "url": "https://demo.apigateway.co/crm",
      "description": "Demo"
    },
    {
      "url": "http://localhost:11001/crm",
      "description": "Local"
    },
    {
      "url": "{local}/crm",
      "description": "Local"
    }
  ],
  "paths": {
    "/{namespace}/{resourceTypeCode}/meta/fields": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "namespace",
          "in": "path",
          "required": true,
          "description": "The namespace, PID/AGID"
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "resourceTypeCode",
          "in": "path",
          "required": true,
          "description": "The resourceTypeCode, here Contact"
        }
      ],
      "get": {
        "summary": "Get field schema",
        "tags": [],
        "responses": {
          "200": {
            "description": "Schema found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/fields"
                },
                "examples": {
                  "Get crm field": {
                    "value": {
                      "externalId": "externalId",
                      "type": "FIELD_TYPE_xxxx",
                      "title": "Last activity date",
                      "description": "Date and time of last activity"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User Not Found"
          }
        },
        "operationId": "get-field-schema",
        "description": "Retrieve field schema based on namespace."
      }
    },
    "/{namespace}/{resourceTypeCode}/meta/fields/{fieldId}/options": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "namespace",
          "in": "path",
          "required": true,
          "description": "The namespace, PID/AGID"
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "resourceTypeCode",
          "in": "path",
          "required": true,
          "description": "The resourceTypeCode, here Contact"
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "fieldId",
          "in": "path",
          "required": true,
          "description": "Unique identifier for field"
        }
      ],
      "get": {
        "summary": "Get field options",
        "tags": [],
        "responses": {
          "200": {
            "description": "Schema found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/options"
                },
                "examples": {
                  "Get field options": {
                    "value": {
                      "options": [
                        {
                          "value": "Option 1",
                          "name": "Option 1"
                        },
                        {
                          "value": "Option 2",
                          "name": "Option 2"
                        },
                        {
                          "value": "Option 3",
                          "name": "Option 3"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "operationId": "post-field-options",
        "description": "Retrieve the options based on the given fieldId.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "filter",
            "description": "filter based on fieldId"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "paging",
            "description": "pagination to retrieve a specific page of results"
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "fields": {
        "type": "object",
        "properties": {
          "externalId": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        },
        "x-examples": {
          "Example 1": {
            "externalId": "externalId",
            "type": "FIELD_TYPE_xxxx",
            "title": "Last activity date",
            "description": "Date and time of last activity"
          }
        }
      },
      "options": {
        "type": "object",
        "properties": {
          "options": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-examples": {
          "Example 1": {
            "options": [
              {
                "value": "Option 1",
                "name": "Option 1"
              },
              {
                "value": "Option 2",
                "name": "Option 2"
              },
              {
                "value": "Option 3",
                "name": "Option 3"
              }
            ]
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "OAuth2Demo": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://sso-api-demo.apigateway.co/oauth2/auth",
            "tokenUrl": "https://sso-api-demo.apigateway.co/oauth2/token",
            "scopes": {
              "customers": "Allows the application to manage the customers for the business location(s) that you manage"
            }
          }
        }
      },
      "OAuth2Prod": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://sso-api-prod.apigateway.co/oauth2/auth",
            "tokenUrl": "https://sso-api-prod.apigateway.co/oauth2/token",
            "refreshUrl": "",
            "scopes": {
              "customers": "Allows the application to manage the customers for the business location(s) that you manage"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "OAuth2Demo": [
        "customers"
      ]
    },
    {
      "OAuth2Prod": [
        "customers"
      ]
    }
  ]
}