body {
    margin: 0px;
    background: #dcdcdc;
    height: 100vh;
    color: darkslategrey;
    letter-spacing: 1px;
}

.d-flex {
    display: flex;
}

.w-100 {
    width: 100%;
}

#mainSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(60%);
}

.content {
    position: relative;
    border: 1px solid rgba(58, 44, 65, 0.45);
    text-align: center;
    padding: 3em;
    box-shadow: 0 10px 36px rgb(0 0 0 / 18%);
    color: darkslategrey;
    width: 60%;
    border-radius: 5px 50px 5px;
    line-height: 30px;
    letter-spacing: 1px;
    font-size: 20px;
}

.title {
    font-size: 25px;
    letter-spacing: 2px;
    margin-top: 15px;
    text-align: center;
}

.detailBlock > div {
    font-size: 17px;
}

.detailBlock {
    padding: 15px;
}