@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');

body {
    margin: 0px;
    text-align: center;
    background: linear-gradient(to top, #16222a, #3a6073);
    height: 100vh;
    overflow: hidden;
    font-family: 'Exo', sans-serif;
}

#mainSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(60%);
}

#animationSection {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 75%;
    min-height: 100vh;
}

.content {
    position: relative;
    border: 1px solid rgba(58, 44, 65, 0.45);
    text-align: center;
    padding: 5em;
    box-shadow: 0 10px 36px rgb(0 0 0 / 18%);
    color: #e1e1e1;
    width: 60%;
    border-radius: 5px 50px 5px;
    line-height: 30px;
    letter-spacing: 1px;
    font-size: 20px;
}

.title {
    font-size: 50px;
    letter-spacing: 8px;
}

.btn {
    color: white;
    padding: 9px;
    border-radius: 6px;
    border: 0;
    background: #349b66;
    text-decoration: none;
    font-size: 16px;
    margin: 0 3px;
}

/* Loader Animations */

.fullPageLoader {
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    background: #000000d9;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.fullPageLoader:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 50px solid #409b63;
    border-color: #409b63 transparent #409b63 transparent;
    animation: fullPageLoader 1.2s infinite;
}
@keyframes fullPageLoader {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}

/* ----------Background Animation---------------- */
.animatedBackground{
    width: 100%;
    height:100vh;
}

.circles{
    position: absolute;
    top: 25px;
    left: 70%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transform: rotate(180deg);
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgb(56 92 110 / 61%);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5),.circles li:nth-child(7){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 90px;
    height: 90px;
    animation-delay: 3s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    60%{
        opacity: 0.3;
        border-radius: 20%;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}


.heroBtn {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    border: 3px solid white;
    padding: 10px 20px;
    box-shadow: white 1px 1px 0px 0px, white 2px 2px 0px 0px, white 3px 3px 0px 0px, white 4px 4px 0px 0px, white 4px 4px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
    
.heroBtn:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

.heroBtn:hover {
    color: #349b66;
}

/* Footer styles */
     
.footer {
    position: fixed;
    top: 83%;
    left: 13%;
}

.footerTitle {
    padding: 16px 2px;
    margin: 5px;
    font-size: 19px;
    color: white;
    text-align: left;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.footerLinks {
    text-decoration: none;
    color: white;
    border: 1px solid;
    padding: 10px 15px;
    border-radius: 4px;
    font-weight: 600;
    letter-spacing: 1.3px;
    margin: 0 5px;
    border-color: #349b66;
    color: #fff;
    background-image: linear-gradient(45deg, #349b66 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    transition: background 300ms ease-in-out;
    font-size: 13px;
}

.footerLinks:hover {
    background-position: 0;
}
