@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');

body {
    margin: 0px;
    text-align: center;
    background: #dcdcdc;
    height: 100vh;
    overflow: hidden;
    font-family: 'Exo', sans-serif;
}

#mainSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(60%);
}

.content {
    position: relative;
    border: 1px solid rgba(58, 44, 65, 0.45);
    text-align: center;
    padding: 5em;
    box-shadow: 0 10px 36px rgb(0 0 0 / 18%);
    color: darkslategrey;
    width: 60%;
    border-radius: 5px 50px 5px;
    line-height: 30px;
    letter-spacing: 1px;
    font-size: 20px;
}

.title {
    font-size: 50px;
    letter-spacing: 8px;
}

.btn {
    color: darkslategrey;
    padding: 9px;
    border-radius: 6px;
    border: 0;
    background: #349b66;
    text-decoration: none;
    font-size: 16px;
    margin: 0 3px;
}

/* Loader Animations */

.fullPageLoader {
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    background: #000000d9;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.fullPageLoader:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 50px solid #409b63;
    border-color: #409b63 transparent #409b63 transparent;
    animation: fullPageLoader 1.2s infinite;
}
@keyframes fullPageLoader {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}

.heroBtn {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: darkslategrey;
    font-weight: 600;
    cursor: pointer;
    border: 3px solid white;
    padding: 10px 20px;
    box-shadow: white 1px 1px 0px 0px, white 2px 2px 0px 0px, white 3px 3px 0px 0px, white 4px 4px 0px 0px, white 4px 4px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
    
.heroBtn:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

.heroBtn:hover {
    color: #349b66;
}

/* Footer styles */
     
.footer {
    position: fixed;
    top: 83%;
    left: 13%;
}

.footerTitle {
    padding: 16px 2px;
    margin: 5px;
    font-size: 19px;
    color: darkslategrey;
    text-align: left;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.footerLinks {
    text-decoration: none;
    color: darkslategrey;
    border: 1px solid;
    padding: 10px 15px;
    border-radius: 4px;
    font-weight: 600;
    letter-spacing: 1.3px;
    margin: 0 5px;
    border-color: #349b66;
    background-image: linear-gradient(45deg, #349b66 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    transition: background 300ms ease-in-out;
    font-size: 13px;
}

.footerLinks:hover {
    background-position: 0;
}
