openapi: 3.0.0
info:
  title: Reputation REST APIs
  version: '1.0'
  description: ''
servers:
  - url: 'https://prod.apigateway.co/products/listingBuilder/listListings'
    description: Production
  - url: 'https://demo.apigateway.co/products/listingBuilder/listListings'
    description: Demo
  - url: '{local}/products/listingBuilder/listListings'
    description: Local
  - url: 'http://localhost:11001/products/listingBuilder/listListings'
    description: Localhost
paths:
  /listListings:
    get:
      summary: List Business Entity Listings
      operationId: list-businessListings
      tags:
        - Business Entity Listings
      security:
        - OAuth2:
            - business
      x-lifecycle:
        status: trustedTester
      description: |-
        [Status](https://developers.vendasta.com/platform/ZG9jOjEwMTU2NTYy-versioning): `Trusted Tester`
        Produces a list of listings for a business entity
      parameters:
        - schema:
            type: string
            example: Bearer <Access Token>
            pattern: ^Bearer\s\S+
          in: header
          name: Authorization
          description: A Bearer access token to identify the user the app is acting on behalf of. See the Authorization guide for details.
          required: true
        - schema:
            type: string
          in: query
          name: 'filter[businessLocation.id]'
          description: Return listings for the specified business entity
          required: true
        - schema:
            type: string
          in: query
          name: 'page[cursor]'
          description: The cursor stores all your filters and current location in the list to allow paging over the results in smaller batches. The value will be provided in the response links.
        - schema:
            type: string
          in: header
          name: Accept-Language
      responses:
        '200':
          description: OK
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/listListings'
                  links:
                    type: object
                    properties:
                      self:
                        type: string
                        format: uri
                      first:
                        type: string
                        description: Provides a link back to the first page of results
                        format: uri
                      next:
                        type: string
                        description: The URI at which the next batch of listings can be gotten from
                        format: uri
    options:
      operationId: options-businessEntityListings
      summary: List valid HTTP verbs for /businessEntityListings
      description: 'Used solely for [CORS](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) the OPTIONS request returns the list of possible HTTP methods and other headers that browsers use to protect user''s security. You should not call this operation directly. '
      responses:
        '204':
          description: No Content
        '403':
          description: User Cannot Access Entity
        '404':
          description: Business Not Found
        '406':
          description: No Listing Product Active
      tags:
        - Options
        - Business Entity Listings
    parameters: []
components:
  schemas:
    businessLocationReviews:
      title: Business Entity Listings
      type: object
      x-lifecycle:
        status: trustedTester
      description: |-
        [Status](https://developers.vendasta.com/platform/ZG9jOjEwMTU2NTYy-versioning): `Trusted Tester`
        A review of an item - for example, of a restaurant, movie, or store.
      x-tags:
        - Business Entity Listings
      properties:
        id:
          type: string
          example: RVW-4EF5BECE03D24D85AB4045097430A9C0
        reviewBody:
          description: The actual body of the review
          type: string
        reviewRating:
          description: The rating given in this review
          type: string
        author:
          description: The creator/author of the review
          type: string
        headline:
          description: Headline of the review
          type: string
        publishedAt:
          description: Date of first broadcast/publication
          format: date-time
          type: string
        url:
          description: The URL to the review
          type: string
        comments:
          type: array
          description: 'Comments, typically from users.'
          items:
            type: object
            properties:
              author:
                description: The creator/author of the comment
                type: string
              headline:
                description: Headline of the comment
                type: string
              commentBody:
                description: The actual body of the comment
                type: string
  securitySchemes:
    JWT:
      type: http
      scheme: bearer
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: 'https://sso-api-demo.apigateway.co/oauth2/auth'
          tokenUrl: 'https://sso-api-demo.apigateway.co/oauth2/token'
          refreshUrl: ''
          scopes:
            reputation: Access to the Reputation REST API