openapi: 3.1.0
info:
  title: Social
  version: Evergreen
  description: These APIs allow users to use Vendasta's social capabilities. All the endpoints require either the `social` or `business` scopes to be accessed.
servers:
  - url: 'https://prod.apigateway.co/products/social'
    description: Production
  - url: 'https://demo.apigateway.co/products/social'
    description: Demo
  - url: 'http://localhost:3000/products/social'
    description: Local
  - description: Localhost
    url: '{local}/products/social'
paths:
  /socialProfiles:
    get:
      summary: List Social Profiles
      responses:
        '200':
          description: OK
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/socialProfiles'
                  links:
                    type: object
                    properties:
                      self:
                        type: string
                        format: uri
                      first:
                        type: string
                        format: uri
                        description: Provides a link back to the first page of results.
                      next:
                        type: string
                        format: uri
                        description: The URI at which the next page of results can be gotten from.
      operationId: get-socialProfiles
      description: |-
        [Status](https://developers.vendasta.com/platform/ZG9jOjEwMTU2NTYy-versioning): `Trusted Tester`


        This endpoint returns Social Profile data for the given BusinessLocation. At least one filter is required to call this endpoint unless you have an existing cursor.
      parameters:
        - schema:
            type: string
            example: AG-12345
          in: query
          name: 'filter[businessLocation.id]'
          description: Returns all Social Profiles for the given Business Location.
        - schema:
            type: string
          in: query
          name: 'page[cursor]'
          description: The cursor stores all your filters and current location in the list to allow paging over the results in smaller batches. The value will be provided in the response links. [Pagination Docs](https://developers.vendasta.com/platform/ZG9jOjEwMTkzMDg0-overview#paging).
        - schema:
            type: integer
            example: 20
            default: 25
          in: query
          name: 'page[limit]'
          description: The maximum number of Social Profiles you would like to return. [Pagination Docs](https://developers.vendasta.com/platform/ZG9jOjEwMTkzMDg0-overview#paging).
      tags:
        - Social Profiles
      x-lifecycle:
        status: trustedTester
    options:
      summary: List valid HTTP verbs for /socialProfiles
      operationId: options-socialProfiles
      description: 'Used solely for [CORS](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) the OPTIONS request returns the list of possible HTTP methods and other headers that browsers use to protect user''s security. You should not call this operation directly. '
      responses:
        '204':
          description: No Content
      tags:
        - Options
        - Social Profiles
      x-lifecycle:
        status: trustedTester
  /messages:
    options:
      summary: List valid HTTP verbs for /messages
      operationId: options-messages
      description: 'Used solely for [CORS](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) the OPTIONS request returns the list of possible HTTP methods and other headers that browsers use to protect user''s security. You should not call this operation directly. '
      responses:
        '204':
          description: No Content
      tags:
        - Options
        - Messages
      x-lifecycle:
        status: trustedTester
    post:
      summary: Schedule Message
      operationId: post-messages
      description: Please contact Sales to learn more about the scheduling message API
      tags:
        - Messages
      responses:
        '200':
          description: OK
  /socialPosts:
    get:
      summary: An endpoint dedicated to listing all the posts made by the business filtered by the selected parameters
      operationId: get-posts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SocialPostsResponse'
                  links:
                    type: object
                    properties:
                      self:
                        type: string
                        format: uri
                      first:
                        type: string
                        format: uri
                        description: Provides a link back to the first page of results.
                      next:
                        type: string
                        format: uri
                        description: The URI at which the next page of results can be gotten from.
      description: |-
        [Status](https://developers.vendasta.com/platform/ZG9jOjEwMTU2NTYy-versioning): `Proposed`

        An endpoint listing the posts made by the business.

      parameters:
        - schema:
            type: string
            example: AG-12345
          in: query
          name: 'filter[businessId]'
          description: Returns all the posts for a business.
        - schema:
            type: string
          in: query
          name: 'page[cursor]'
          description: The cursor stores all your filters and current location in the list to allow paging over the results in smaller batches. The value will be provided in the response links.
        - schema:
            type: integer
            example: 20
            default: 25
          in: query
          name: 'page[limit]'
          description: The maximum number of Social Posts you would like to return.
        - schema:
            type: string
            example: '2022-02-04T16:52:34.000Z'
            default: ''
          in: query
          name: 'filter[start]'
          description: The starting time of the posts to be listed. Times used must be in ISO 8601 format, UTC time.
        - schema:
            type: string
            example: '2022-02-04T16:52:34.000Z'
            default: ''
          in: query
          name: 'filter[end]'
          description: The ending time of the posts to be listed. Times used must be in ISO 8601 format, UTC time.
        - schema:
            type: string
            example: 'FBU-839,IGU-762348'
          name: 'filter[socialProfileIds]'
          in: query
          description: Comma seperated string representing all the social profile ids from which the posts are to be listed. The list of profile ids can be obtained from /socialProfiles endpoint.
      tags:
        - Social Posts
      x-lifecycle:
        status: proposed
    options:
      summary: List valid HTTP verbs for /socialPosts
      operationId: options-socialPosts
      description: 'Used solely for [CORS](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) the OPTIONS request returns the list of possible HTTP methods and other headers that browsers use to protect user''s security. You should not call this operation directly. '
      responses:
        '204':
          description: No Content
      tags:
        - Options
        - Messages
        - Social Posts
      x-lifecycle:
        status: trustedTester
components:
  securitySchemes:
    JWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
    OAuth2Demo:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: 'https://sso-api-demo.apigateway.co/oauth2/auth'
          tokenUrl: 'https://sso-api-demo.apigateway.co/oauth2/token'
          scopes:
            business: Read-write access to business details
            social: Read-write access to Social Marketing APIs
    OAuth2Prod:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: 'https://sso-api-prod.apigateway.co/oauth2/auth'
          tokenUrl: 'https://sso-api-prod.apigateway.co/oauth2/token'
          scopes:
            business: Read-write access to business details
            social: Read-write access to Social Marketing APIs
  schemas:
    socialProfiles:
      title: Social Profiles
      type: object
      description: |-
        [Status](https://developers.vendasta.com/platform/ZG9jOjEwMTU2NTYy-versioning): `Trusted Tester`

        An entity that contains the information of a connected account or page with a social network.
      x-tags:
        - Social Profiles
      x-lifecycle:
        status: trustedTester
      properties:
        type:
          type: string
          default: socialProfiles
        id:
          type: string
          example: FBU-117641035298609261021
          description: The unique id for this Social Profile.
        attributes:
          type: object
          properties:
            name:
              type: string
              example: John's Delivery
              description: The name of this profile.
            avatarUrl:
              type: string
              description: The link to an url for the avatar image of this profile.
            socialNetwork:
              type: string
              description: A string enum representing which social network this Social Profile is on.
              enum:
                - facebook
                - twitter
                - gmb
                - linkedinCompany
                - linkedinUser
                - instagram
            status:
              type: string
              description: 'A string enum that describes the current state of this Social Profile. This may include possibilities like needing user reauthentication, or being disabled due to edition changes.'
              enum:
                - disabled
                - active
                - authorizationRequired
            statusReason:
              type: string
              description: 'If status is not ACTIVE, this will be filled with a string describing steps to fix this. Currently only in proposed stage.'
        relationships:
          type: object
          properties:
            businessLocation:
              type: object
              description: The business location that is allowed to post to this socialProfile.
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      default: businessLocations
                      readOnly: true
                    id:
                      type: string
                      example: AG-12AB5
                  required:
                    - type
                    - id
          required:
            - businessLocation
      required:
        - type
    SocialPostsResponse:
      title: Social Posts Response
      type: object
      description: |-
        [Status](https://developers.vendasta.com/platform/ZG9jOjEwMTU2NTYy-versioning): `Proposed`

        A response containing retrieved filtered list of posts made within a specified time range by the particular user.
      examples: [ ]
      x-tags:
        - Social Posts Response
      properties:
        id:
          type: string
          example: CuratedPost-12a45b72s-CCA-1572
          description: A unique identifier assigned to this post.
        type:
          type: string
          default: socialPostResponse
        attributes:
          type: object
          properties:
            postText:
              type: string
              description: 'The text body of the post.'
            status:
              description: 'A string representing the tag assigned to a post.'
              example: 'SCHEDULED'
            postedDateTime:
              type: string
              format: date-time
              description: |-
                A string representing the timestamp at which the post was posted.

                Null in case of posts that have not been posted but just scheduled yet.

                Times used must be in ISO 8601 format, UTC time.
              example: '2022-02-04T16:52:34.000Z'
            scheduledDateTime:
              type: string
              format: date-time
              description: |-
                A string representing the timestamp at which the post is scheduled.

                Null in case of posts was posted directly without scheduling.

                Times used must be in ISO 8601 format, UTC time.
              example: '2022-02-04T16:52:34.000Z'
            media:
              type: object
              description: 'An object containing the media attached to the post.'
              properties:
                type:
                  type: string
                  description: 'A string representing the type of media attached to the post.'
                  example: 'IMAGE'
                url:
                  type: string
                  description: 'A string representing the url of media attached to the post.'
                  example: 'https://www.example.com/image.jpg'
            errorOccurred:
              type: boolean
              description: 'Boolean indicating if any error occurred while making the post.'
              example: false
            error:
              type: string
              description: 'The description of error occurred while posting the post.'
              example: 'The post is not valid.'
          required:
            - messageText
        relationships:
          type: object
          properties:
            socialProfiles:
              type: object
              description: An array of Social Profiles from where the posts are being retrieved.
              properties:
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        default: socialProfiles
                        readOnly: true
                      id:
                        type: string
                    required:
                      - type
                      - id
            businessLocation:
              type: object
              required:
                - data
              description: The location that owns the social profiles that posts will be sent from.
              properties:
                data:
                  type: object
                  required:
                    - type
                    - id
                  properties:
                    type:
                      type: string
                      default: businessLocations
                    id:
                      type: string
          required:
            - socialProfiles
            - businessLocation
      required:
        - type
tags:
  - name: Social Profiles
  - name: Messages
  - name: Options
  - name: Social Posts
security:
  - OAuth2Demo:
      - business
      - social
  - OAuth2Prod:
      - business
      - social
