openapi: 3.1.0
info:
  title: crmaas
  version: '1.0'
servers:
  - url: 'https://prod.apigateway.co/org'
    description: Production
  - url: 'https://demo.apigateway.co/org'
    description: Demo
  - url: 'http://localhost:11001/org'
    description: Local
  - url: '{local}/org'
    description: Localhost
paths:
  '/{namespace}/{resourceTypeCode}/meta/fields':
    parameters:
      - name: resourceTypeCode
        in: path
        required: true
        schema:
          type: string
        description: 'The resourceTypeCode, here Contact'
      - $ref: '#/components/parameters/namespace'
    get:
      summary: Schema of the contact for a given PID or AGID
      tags: []
      responses:
        '200':
          description: Schema found
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Contact'
        '302':
          description: Schema not found
      operationId: get-contact-schema
      description: Retrieve the schema for the Contact with the matching PID/AGID.
  '/{namespace}/{resourceTypeCode}/meta/fields/{fieldId}/options':
    parameters:
      - name: resourceTypeCode
        in: path
        required: true
        schema:
          type: string
        description: 'The resourceTypeCode, here Contact'
      - name: fieldId
        in: path
        required: true
        schema:
          type: string
          example: FieldID-e458cc1b-2873-4026-9eae-d0fe01c2385d
        description: fieldId
      - name: searchTerm
        in: query
        required: false
        schema:
          type: string
          example: crm
        description: searchTerm
      - $ref: '#/components/parameters/namespace'
    post:
      summary: Schema of the options based on a filter.
      tags: []
      responses:
        '200':
          description: Options found
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Fields'
      operationId: get-list-option
      description: Retrieve a list of options based on a filter.
components:
  schemas:
    Contact:
      title: Contact
      type: object
      description: Schema for the Contact entity for the given PID or AGID
      examples:
        - fieldId: system__contact_last_activity_date
          fieldType: FIELD_TYPE_DATETIME
          fieldDescription: Date and time of last activity
          fieldTitle: Last activity date
      properties:
        fieldId:
          type: string
          description: Unique identifier for the given user.
        fieldType:
          type: string
        fieldDescription:
          type: string
        fieldTitle:
          type: string
          description: email
      required:
        - fieldId
        - fieldType
        - fieldDescription
        - fieldTitle
      x-internal: false
    Fields:
      title: Fields
      type: object
      properties:
        options:
          type: array
          items:
            type: string
      x-examples:
        Example 1:
          options:
            - std
      x-stoplight:
        id: 0ef9761d2cdb2
  securitySchemes:
    JWT:
      type: http
      scheme: bearer
    OAuth2Demo:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: 'https://sso-api-demo.apigateway.co/oauth2/auth'
          tokenUrl: 'https://sso-api-demo.apigateway.co/oauth2/token'
          refreshUrl: ''
          scopes:
            user.admin: Read-write access to manage all users
    OAuth2Prod:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: 'https://sso-api-prod.apigateway.co/oauth2/auth'
          tokenUrl: 'https://sso-api-prod.apigateway.co/oauth2/token'
          refreshUrl: ''
          scopes:
            user.admin: Read-write access to manage all users
  parameters:
    namespace:
      name: namespace
      in: path
      required: true
      schema:
        type: string
        example: VUNI
      description: AGID or PID
