{
  "components": {
    "schemas": {
      "protobufAny": {
        "additionalProperties": {},
        "properties": {
          "@type": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "rpcStatus": {
        "properties": {
          "code": {
            "format": "int32",
            "type": "integer"
          },
          "details": {
            "items": {
              "$ref": "#/components/schemas/protobufAny"
            },
            "type": "array"
          },
          "message": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "v1ListSiteDetailsRequest": {
        "description": "Request message for listing primary and alternate domains for all WordPress sites owned by a partner.",
        "properties": {
          "page": {
            "description": "Optional. The page number (0-indexed). Offset = page * page_size.",
            "format": "int64",
            "type": "string"
          },
          "pageSize": {
            "description": "Optional. The number of results to return per page (max 500, default 25).",
            "format": "int64",
            "type": "string"
          },
          "partnerId": {
            "description": "Required. The partner ID to list site domains for.",
            "type": "string"
          }
        },
        "required": [
          "partnerId"
        ],
        "title": "List Site Details Request",
        "type": "object"
      },
      "v1ListSiteDetailsResponse": {
        "description": "Response message containing paginated site domain information.",
        "properties": {
          "hasMore": {
            "description": "Whether or not more results exist.",
            "type": "boolean"
          },
          "sites": {
            "description": "The list of site domain information.",
            "items": {
              "$ref": "#/components/schemas/v1SiteDetails"
            },
            "type": "array"
          },
          "totalResults": {
            "description": "The total number of results for this query across all pages.",
            "format": "int64",
            "type": "string"
          }
        },
        "title": "List Site Details Response",
        "type": "object"
      },
      "v1SiteDetails": {
        "description": "Domain information for a single WordPress site including primary and alternate domains.",
        "properties": {
          "accountId": {
            "description": "The account ID that owns the site.",
            "type": "string"
          },
          "alternateDomains": {
            "description": "Alternate domains associated with the site.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "primaryDomain": {
            "description": "The primary domain of the site.",
            "type": "string"
          }
        },
        "title": "Site Details",
        "type": "object"
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://sso-api-prod.apigateway.co/oauth2/auth",
            "scopes": {},
            "tokenUrl": "https://sso-api-prod.apigateway.co/oauth2/token"
          }
        },
        "type": "oauth2"
      }
    }
  },
  "info": {
    "title": "Wsp Admin Center OpenAPI Documentation",
    "version": "1.0.0"
  },
  "openapi": "3.0.0",
  "paths": {
    "/v1/websites/site-details": {
      "post": {
        "description": "List primary and alternate domains for all WordPress sites owned by the partner.\n\nRequired OAuth2 scopes: `partner:read`, `business-app`",
        "operationId": "PartnerApi_ListSiteDetails",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1ListSiteDetailsRequest"
              }
            }
          },
          "description": "Request message for listing primary and alternate domains for all WordPress sites owned by a partner.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1ListSiteDetailsResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "security": [
          {
            "OAuth2": [
              "partner:read",
              "business-app"
            ]
          }
        ],
        "summary": "List Site Details",
        "tags": [
          "PartnerApi"
        ]
      }
    }
  },
  "servers": [
    {
      "description": "Production",
      "url": "https://prod.apigateway.co/grpc"
    }
  ],
  "tags": [
    {
      "name": "PartnerApi"
    }
  ]
}